<!DOCTYPE html>
<html lang="ko" xmlns:th=http://www.thymeleaf.org>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js"
          integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
          crossorigin="anonymous"></script>
</head>
<body>
<div class="header" th:fragment="header">
  <div class="header-nav">
            <span id="logo">
                <a th:href="@{/}">내미콘</a>
            </span>

    <span id="menu-recommend" class="menu">
                <a th:href="@{/}">추천글</a>
            </span>

    <span id="menu-chart" class="menu">
                <a href="">차트</a>
            </span>

    <span id="menu-inquiry" class="menu">
                <a href="/faq">문의</a>
            </span>

    <span id="menu-search" class="menu">
          <a th:href="@{/search}">검색</a>
      </span>


    <th:block th:if="${session.loginUser==null}">
        <span id="menu-login" class="menu-user">
                  <a href="/member/login">로그인</a>
              </span>

      <span id="menu-join" class="menu-user">
                  <a th:href="@{/member/join}">회원가입</a>
              </span>
    </th:block>

    <th:block th:if="${session.loginUser!=null}">
        <span id="menu-post" class="menu-userinfo">
                <a th:href="@{/recommends/writeForm}"><img class="pen-img" th:src="@{/img/pen.png}" src="../../../static/img/pen.png"> 글 작성하기</a>
        </span>


      <span id="menu-alarm" class="menu-img">
                <a href=""><img class="alarm-img" th:src="@{/img/bell-img.png}" src="../../../static/img/bell-img.png"></a>
            </span>

                <div class="dropdown">
                    <img th:src="${session.loginUser.profileImgUrl}" class="profile-img-preview">
                        <div class="dropdown-content">
                            <a href="#" class="profile-preview">
                                <img th:src="${session.loginUser.profileImgUrl}" class="img-preview">
                                <div class="name-preview" th:text="${session.loginUser.nickName}"></div>
                            </a>
                            <a href="/member/my">내 정보</a>
                            <a href="/member/recommends">마이피드 보기</a>
                            <a href="/member/logout">로그아웃</a>
                        </div>
                </div>
            </span>

    </th:block>
  </div>
</div>
</body>

</html>