<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js"
          integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
          crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <link rel="stylesheet" th:href="@{/css/profile-style.css}">
</head>
<body>
<div class="container">
  <div th:replace="~{common/fragments/header::header}"></div>

  <div class="login">
    <div class="login-box">
      <div class="message-box">
        <div class="login-hello">비밀번호 변경</div>
        <div class="login-message">새로운 비밀번호를 입력해주세요</div>
        <div class="pw-form">
          <form th:action="@{/member/passwd/change}" method="post" class="pw-form" th:object="${request}" onsubmit="return checkPw();">
            <input type="password" id="newPassword" name="newPassword" th:field="*{newPassword}" class="find-by-username" placeholder="  비밀번호"/>
            <input type="password" id="verification" name="verification" th:field="*{verification}" class="find-by-username" placeholder="  비밀번호 확인"/>
            <input type="submit" value="확인" class="change-pw" />
          </form>
        </div>
      </div>
    </div>

    <div class="login-img-box">
      <img id="login-img" th:src="@{/img/index-img.jpg}" src="../../../static/img/index-img.jpg">
    </div>
  </div>


</div>

<div class="footer">

</div>
</div>

<script th:inline="javascript">
  function checkPw() {

	var p1 = document.getElementById('newPassword').value;
	var num = p1.search(/[0-9]/g);
	var eng = p1.search(/[a-z]/ig);
	var spe = p1.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
	var p2 = document.getElementById('verification').value;

	if(p1.length < 8 || p1.length > 20) {
			alert('비밀번호는 8~20글자여야합니다.');
			return false;
		}
	if(p1.search(/\s/)!=-1){
		alert('비밀번호는 공백없이 입력해주세요.');
		return false;
	}
	if(num < 0 || eng < 0 || spe < 0 ){
		alert("영문,숫자, 특수문자를 혼합한 8~20글자를 입력해주세요.");
		return false;
	}
		if( p1 != p2 ) {
			alert("비밀번호가 일치하지 않습니다.");
			return false;
		  } else{
			alert("비밀번호가 변경되었습니다.");
			return true;
		  }
}
</script>
</body>

</html>