<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js"
          integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
          crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/join.css}">
</head>
<body>
<div class="container">
  <div th:replace="~{common/fragments/header::header}"></div>

  <div class="join">
    <form th:action="@{/member/join}" method="post" th:object="${request}" onsubmit="return checkJoinForm();">
      <div class="join-top">
        <span class="join-title">환영합니다</span>
      </div>

      <div class="box">
        <div class="join-box">
          <div class="join-message">간단한 정보 입력으로 쉽게 가입하실 수 있어요</div>
          <div>
            <div class="join-body">
              <span class="join-body-title">이메일*</span>
              <span> <input type="email" id="email" name="email" th:field="*{email}" placeholder="이메일" /></span>
              <button type="button" onclick="fn_emailChk();" id="emailChk" class="button-check-nickname" value="N"> 가입확인 </button>
            </div>

            <div class="join-body">
              <span class="join-body-title">비밀번호*</span>
              <span><input type="password" id="password" name="password" th:field="*{password}" placeholder="비밀번호" /></span>
            </div>

            <div class="join-body">
              <span class="join-body-title">비밀번호 확인*</span>
              <span> <input type="password" id="doubleCheckPw" placeholder="비밀번호를 한 번 더 입력해주세요"></textarea></span>
            </div>

            <div class="join-body">
              <span class="join-body-title">닉네임*</span>
              <span><input name="nickName" id="nickName" th:field="*{nickName}" placeholder="닉네임" /></span>
              <button type="button" onclick="fn_nickNameChk();" id="nickNameChk" class="button-check-nickname" value="N"> 중복확인 </button>
            </div>

            <div class="join-body">
              <span class="join-body-title">이름*</span>
              <span><input name="name" id="name" th:field="*{name}" placeholder="이름" /></span>
            </div>

            <div class="join-body">
              <span class="join-body-title">태어난 해 / 성별</span>
              <span class="input-year"><input type="number" name="birth" th:field="*{birth}" placeholder="년(YYYY)" class="join-input-year" /></span>
              <div class="select" th:each="type : ${genderEnums}">
                <input type="radio" th:field="*{gender}" th:value="${type.name()}" /><label th:for="${#ids.prev('gender')}" th:text="${type.description}"></label>
<!--                <input type="radio" th:field="*{gender}" th:value="${type.name()}"><label th:for="${#ids.prev('genderEnum')}">여</label>-->
              </div>
            </div>

          </div>
        </div>

        <div class="join-box2">
          <div class="join-message">다음 내용에 동의가 필요해요</div>

          <div class="all-check-box">
            <div class="all-agree"><input type="checkbox" id="all" name="all" th:onclick="checkAll();">전체 동의</div>
          </div>
          <div class="each-agree"><input type="checkbox" id="agreement1" name="agreement" value="true">내미콘 서비스 이용약관 동의</div>
          <div class="each-agree"><input type="checkbox" id="agreement2" name="agreement" value="true">개인정보 수집 및 이용 동의</div>
          <div class="each-agree"><input type="checkbox" id="agreement3" name="agreement" value="true">프로모션 정보 수신 동의 (선택)</div>

          <input type="submit" class="join-button" value="가입하기">
        </div>
      </div>
    </form>
  </div>

  <div class="footer">

  </div>
</div>
<script type="text/javascript" th:src="@{/js/member.js}"></script>
<script th:inline="javascript">
  function checkJoinForm(){
  var email = document.getElementById("email");
  var password = document.getElementById("password");
  var doubleCheckPw = document.getElementById("doubleCheckPw");
  var nickName = document.getElementById("nickName");
  var name = document.getElementById("name");

  if(email.value==""){
     alert("이메일을 입력해주세요");
     email.focus();
    return false;
  }
  if(password.value==""){
     alert("비밀번호을 입력해주세요");
     password.focus();
    return false;
  }
  if(doubleCheckPw.value==""){
     alert("비밀번호를 한 번 더 입력해주세요");
     doubleCheckPw.focus();
    return false;
  }
  if(nickName.value==""){
     alert("닉네임을 입력해주세요");
     nickName.focus();
    return false;
  }
  if(name.value==""){
     alert("이름을 입력해주세요");
     name.focus();
    return false;
  }

  if(!checkPw()){
    password.focus();
    return false;
  }

  if(!checkAccept()){
    return false;
  }

  if($("#emailChk").val() == "N"){
    email.focus();
    alert("이메일 가입 여부를 확인해주세요");
    return false;
  }

  if($("#nickNameChk").val() == "N"){
    nickName.focus();
    alert("닉네임 중복 확인이 필요합니다.");
    return false;
  }

  alert("가입되었습니다.");
  return true;
}

function checkAccept(){
  if(document.getElementById('agreement1').checked && document.getElementById('agreement2').checked){
    return true;
  } else {
    alert("서비스 이용 및 개인정보 수집과 이용에 대한 안내에 동의가 필요합니다.");
    return false;
  }
}

function checkAll(){
    if(document.getElementById("all").checked==true){  //id 를 사용하여 하나의 객체만을 호출
          for(var i=0;i<3;i++) document.getElementsByName("agreement")[i].checked=true;   //name 을 사용하여 배열 형태로 담아 호출
       }
       if(document.getElementById("all").checked==false){
          for(var i=0;i<3;i++) document.getElementsByName("agreement")[i].checked=false;
       }
 }

function checkPw() {

	var p1 = document.getElementById('password').value;
	var num = p1.search(/[0-9]/g);
	var eng = p1.search(/[a-z]/ig);
	var spe = p1.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
	var p2 = document.getElementById('doubleCheckPw').value;

	if(p1.length < 8 || p1.length > 20) {
			alert('비밀번호는 8~20글자여야합니다.');
			return false;
		}
	if(p1.search(/\s/)!=-1){
		alert('비밀번호는 공백없이 입력해주세요.');
		return false;
	}
	if(num < 0 || eng < 0 || spe < 0 ){
		alert("영문,숫자, 특수문자를 혼합한 8~20글자를 입력해주세요.");
		return false;
	}
		if( p1 != p2 ) {
			alert("비밀번호가 일치하지 않습니다.");
			return false;
		  }
	return true;

}

function fn_nickNameChk(){

                var params = {
                nickName : $("#nickName").val()
                }

                $.ajax({
                    url : "/member/nickNameChk",
                    type : "post",
                    dataType : 'json',
                    data : params,


                    success : function(result){

                    var nickNameChk = result.result
                        if(nickNameChk == false){
                            $("#nickNameChk").attr("value", "N");
                            alert("중복된 닉네임입니다.");

                        }else if(nickNameChk == true){
                            $("#nickNameChk").attr("value", "Y");
                            alert("사용가능한 닉네임입니다.");

                        }else if(nickNameChk == ""){
                            alert("닉네임이 확인되지 않았습니다. 다시 시도해주세요");
                        }
                    }
                })
            }

function fn_emailChk(){

                var params = {
                email : $("#email").val()
                }

                $.ajax({
                    url : "/member/emailChk",
                    type : "post",
                    dataType : 'json',
                    data : params,


                    success : function(result){

                    var emailChk = result.result
                        if(emailChk == false){
                            $("#emailChk").attr("value", "N");
                            alert("이미 가입된 이메일입니다.");

                        }else if(emailChk == true){
                            $("#emailChk").attr("value", "Y");
                            alert("가입 가능한 이메일입니다.");

                        }else if(emailChk == ""){
                            alert("이메일이 확인되지 않았습니다. 다시 시도해주세요");
                        }
                    }
                })
            }
</script>
</body>

</html>