<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js"
          integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
          crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../../../static/css/style.css">
  <link rel="stylesheet" th:href="@{/css/myFeed.css}" href="../../../static/css/myFeed.css">
  <!--  <link rel="stylesheet" th:href="@{/css/index.css}" href="../../../static/css/index.css">-->
  <link rel="stylesheet" th:href="@{/css/recommend-post.css}" href="../../../static/css/recommend-post.css">
  <link rel="stylesheet" th:href="@{/css/profile-style.css}">
</head>
<body>
<div class="container-myFeed">

  <div th:replace="~{common/fragments/header::header}"></div>

  <!--  마이피드 상단 시작-->
  <div class="contents-myFeed">

    <!-- 프로필이미지-->
    <div class="profileImg">
      <img class="rounded-circle" th:src="${recommendsResponse.getProfileImgUrl()}" src="../../../static/img/event-horizon.jpg">
    </div>

    <!-- 이름, 팔로워, 팔로윙 -->
    <div class="contents-myInfo">
      <div class="contents-myInfo-name">
        <span class="name" th:text="${recommendsResponse.getNickName()}">이도록</span>
        <span class="gray">팔로워</span>
        <a th:href="@{/member/followers__${url}__}"><span class="number" th:text="${recommendsResponse.getFollowerCnt()}">189</span></a>
        <span class="gray">팔로잉</span>
        <a th:href="@{/member/followings__${url}__}"><span class="number" th:text="${recommendsResponse.getFollowingCnt()}">189</span></a>
      </div>
      <!-- 수정하기 -->
      <div class="contents-myInfo-modify">
        <nav id="sort-post">
          <th:block th:if="${url}==''">
            <a th:href="@{/member/my/update}">
              <span class="not-selected-post-nav">
                <img class="setting-img" th:src="@{/img/setting_top.png}" src="../../../static/img/setting_top.png">
                <span>수정하기</span>
              </span>
            </a>
          </th:block>
          <th:block th:if="${url}!=''">
            <span class="selected-post-nav">
              <a onclick="follow()">팔로우</a>
            </span>
          </th:block>
        </nav>
      </div>
      <!-- 이메일 -->
      <div class="contents-myInfo-email">
        <span class="email" th:text="${recommendsResponse.getEmail()}">broch2up@naemicon.com</span>
      </div>
      <!-- 한줄소개 -->
      <div class="contents-myInfo-introduce">
        <span class="introduce" th:text="${recommendsResponse.getIntroduction()}">제가 좋아하는 노래와 함께 늙어갈래요. 너무 빠르게 흘러가는 흐름에 지치셨다면 들렸다가세요 좋은 곡이 있다면 언제든 소개시켜드릴게요.<br>
또, 괜찮은 곡이 있다면 언제든지 환영이에요. 잊혀졌던 다양한 노래를 같이 공유해봐요:)</span>
      </div>
      <!-- 작성 글, 작성 댓글 네비게이션 -->
      <div class="contents-myInfo-nav">
        <nav id="convert-post">
          <a th:href="@{/member/recommends__${url}__}"><span class="selected-post-nav" th:text="|작성 글(${recommendsResponse.getRecommendCnt()})|"><a href="">작성 글(32)</a></span></a>
          <a th:href="@{/member/comments__${url}__}"><span class="not-selected-post-nav" th:text="|작성 댓글(${recommendsResponse.getCommentCnt()})|"><a href="">작성 댓글(48)</a></span></a>
        </nav>
      </div>
      <div class="contents-myInfo-bottom">

      </div>
    </div>

  </div>
  <!--  마이피드 상단 끝-->

  <div class="contents">
    <!-- 내가 작성한 글 목록 시작 -->
    <div class="list-recommend">
      <div th:each="cards:${recommendsResponse.getRecommendListResponses()}">
        <a th:href="@{/recommends/__${cards.getRecommendNo()}__}">
          <div class="card" th:src="${cards.getRecommendImageUrl()}">
            <div class="music-info">
              <span class="music-img"><img th:src="${cards.getAlbumImageUrl()}" src="../../../static/img/event-horizon.jpg"/> </span>
              <span class="music-info-text" th:text="${cards.trackTitle}">사건의 지평선 - </span>
              <span class="music-info-text" th:text="${cards.artistName}">윤하</span>
            </div>

            <div class="body"></div>

            <div class="post-info">
              <div class="post-info-top">
                <span class="post-title" th:text="${cards.recommendTitle}">드디어 찾아냈어요!</span>
                <span class="like" th:text="|♥ ${cards.countLikes}|">♥ 1128</span>
              </div>

              <div class="line"></div>

              <div class="post-content" th:text="${cards.recommendContent}">Lorem ipsum dolor sit amet, consectetuer adipi
                scing elit. Aenean commodo ligula eget dolor.
                Aenean massa. Cum sociis natoqueum dolor sit
                amet, consectetuer adipiscing elit.
              </div>
              <div class="post-author" th:text="${cards.memberNickname}">Park Ron</div>
            </div>
          </div>
        </a>
      </div>

    </div>
    <!-- 내가 작성한 글 목록 끝 -->
  </div>
  <script th:inline="javascript">
    /*<![CDATA[*/
    function follow() {
      const page = /*[[${recommendsResponse.getNickName()}]]*/;
      var form = document.createElement('form');
      form.setAttribute('method', 'post');
      form.setAttribute('action', '/follow/follow/'+page);
      document.body.appendChild(form);
      form.submit();
    }
    /*]]>*/
  </script>

  <div class="footer">

  </div>

</div>


</body>

</html>