<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Content I Like</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js"
          integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
          crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../../../static/css/style.css">
  <link rel="stylesheet" th:href="@{/css/myFeed.css}" href="../../../static/css/myFeed.css">
<!--  <link rel="stylesheet" th:href="@{/css/index.css}" href="../../../static/css/index.css">-->
  <link rel="stylesheet" th:href="@{/css/recommend-post.css}" href="../../../static/css/recommend-post.css">
  <link rel="stylesheet" th:href="@{/css/profile-style.css}">
</head>
<body>
<div class="container-myFeed">

  <div th:replace="~{common/fragments/header::header}"></div>

  <!--  마이피드 상단 시작-->
  <div class="contents-myFeed">

    <!-- 프로필이미지-->
    <div class="profileImg">
      <img class="rounded-circle" th:src="${comments.getProfileImgUrl()}" src="../../../static/img/event-horizon.jpg">
    </div>

    <!-- 이름, 팔로워, 팔로윙 -->
    <div class="contents-myInfo">
      <div class="contents-myInfo-name">
        <span class="name" th:text="${comments.getNickName()}">이도록</span>
        <span class="gray">팔로워</span>
        <a th:href="@{/member/followers__${url}__}"><span class="number" th:text="${comments.getFollowerCnt()}">189</span></a>
        <span class="gray">팔로잉</span>
        <a th:href="@{/member/followings__${url}__}"><span class="number" th:text="${comments.getFollowingCnt()}">189</span></a>
      </div>
      <script th:inline="javascript">
        /*<![CDATA[*/
        function follow() {
          const page = /*[[${comments.getNickName()}]]*/;
          var form = document.createElement('form');
          form.setAttribute('method', 'post');
          form.setAttribute('action', '/follow/follow/'+page);
          document.body.appendChild(form);
          form.submit();
        }
        /*]]>*/
      </script>
      <!-- 수정하기 -->
      <div class="contents-myInfo-modify">
        <nav id="sort-post">
          <th:block th:if="${url}==''">
            <a th:href="@{/member/my/update}">
              <span class="not-selected-post-nav">
                <img class="setting-img" th:src="@{/img/setting_top.png}" src="../../../static/img/setting_top.png">
                <span>수정하기</span>
              </span>
            </a>
          </th:block>
          <th:block th:if="${url}!=''">
            <span class="selected-post-nav">
              <a onclick="follow()">팔로우</a>
            </span>
          </th:block>
        </nav>
      </div>
      <!-- 이메일 -->
      <div class="contents-myInfo-email">
        <span class="email" th:text="${comments.getEmail()}">broch2up@naemicon.com</span>
      </div>
      <!-- 한줄소개 -->
      <div class="contents-myInfo-introduce">
        <span class="introduce" th:text="${comments.getIntroduction()}">제가 좋아하는 노래와 함께 늙어갈래요. 너무 빠르게 흘러가는 흐름에 지치셨다면 들렸다가세요 좋은 곡이 있다면 언제든 소개시켜드릴게요.<br>
또, 괜찮은 곡이 있다면 언제든지 환영이에요. 잊혀졌던 다양한 노래를 같이 공유해봐요:)</span>
      </div>
      <!-- 작성 글, 작성 댓글 네비게이션 -->
      <div class="contents-myInfo-nav">
        <nav id="convert-post">
          <a th:href="@{/member/recommends__${url}__}"><span class="not-selected-post-nav" th:text="|작성 글(${comments.getRecommendCnt()})|"><a href="">작성 글(32)</a></span></a>
          <a th:href="@{/member/comments__${url}__}"> <span class="selected-post-nav" th:text="|작성 댓글(${comments.getCommentCnt()})|"><a href="">작성 댓글(48)</a></span></a>
        </nav>
      </div>
      <div class="contents-myInfo-bottom">

      </div>
    </div>

  </div>
  <!--  마이피드 상단 끝-->

  <!-- 댓글 목록 시작 -->
  <div class="contents">
    <div class="list-recommend" th:each="cards:${comments.getCommentMyFeedResponse()}">

      <a th:href="@{/recommends/__${cards.getRecommendNo()}__}">
        <div class="comment-card">
          <span class="music-img-comments"><img th:src="${cards.getRecommendImgUrl()}" src="../../../static/img/event-horizon.jpg"/></span>
          <div class="comment-info">
            <div class="comment-border">
              <span class="number" th:text="${cards.getRecommendTitle()}">혹시 기억하시나요?</span>
              <span class="comment-date" th:text="|${cards.getFewDaysAgo()}일 전|">2일 전</span>
            </div>
            <span class="comment-content" th:text="${cards.getCommentContent()}">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
           penatibus et magnis dis parturient montes,nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium qui
          sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut
          imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus element
          um semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. </span>
            <span class="comment-musicTitle" th:text="${cards.getTrackInfo()}">My Hair - Ariana Grande</span>
          </div>
        </div>

      </a>

    </div>
  </div>
  <!-- 댓글 목록 끝 -->

  <div class="footer">

  </div>
</div>


</body>

</html>