<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js"
          integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
          crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../../../static/css/style.css">
  <link rel="stylesheet" th:href="@{/css/faq.css}" href="../../../static/css/faq.css">
  <!--  <link rel="stylesheet" th:href="@{/css/index.css}" href="../../../static/css/index.css">-->
  <link rel="stylesheet" th:href="@{/css/recommend-post.css}" href="../../../static/css/recommend-post.css">
  <link rel="stylesheet" th:href="@{/css/profile-style.css}">
</head>

<body>
<div class="container-faq">

  <!-- 헤더 시작 -->
  <div th:replace="~{common/fragments/header::header}"></div>

  <!-- 헤더 끝 -->

  <div class="container-faq-bottom">
    <div class="faq-nav">
      <span class="selected-faq-nav"><a href="/faq">FAQ</a></span>
      <span class="not-selected-faq-nav"><a href="/inquiry">내 문의 내역</a></span>

    </div>

    <div class="faq-empty"></div>

    <div class="faq-content-details">
      <form th:action="@{/inquiry/writeForm}" method="get" th:object="${faqCategory}">
      <div class="faq-content-details-title">
        <span class="font-title-blue" th:text="|[${faqDetails.getFaqCategory()}]|">[슈퍼챗]</span>
        <span class="font-title" th:text="${faqDetails.getFaqTitle()}">슈퍼챗이 뭔가요?</span>
      </div>

      <div class="faq-content-details-list">
        <span class="font-title" th:text="${faqDetails.getFaqContent()}"></span>
        <span class="font-gray">충분한 답변을 얻지 못하셨다면 1:1 문의를 통해 상세히 답변 드리겠습니다.</span>
        <input class="inquire-btn" type="submit" value="문의하기">
      </div>
      </form>
    </div>


  </div>


</div>
</body>
</html>