<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js"
          integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
          crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../../../static/css/style.css">
  <link rel="stylesheet" th:href="@{/css/faq.css}" href="../../../static/css/faq.css">
  <!--  <link rel="stylesheet" th:href="@{/css/index.css}" href="../../../static/css/index.css">-->
  <link rel="stylesheet" th:href="@{/css/recommend-post.css}" href="../../../static/css/recommend-post.css">
  <link rel="stylesheet" th:href="@{/css/profile-style.css}">
</head>

<body>
<div class="container-faq">

  <!-- 헤더 시작 -->
  <div th:replace="/common/fragments/header"/>
  <!-- 헤더 끝 -->

  <div class="container-register-bottom">
    <div class="faq-nav">
      <span class="selected-faq-nav"><a href="/faq">FAQ</a></span>
      <span class="not-selected-faq-nav"><a href="/inquiry">내 문의 내역</a></span>

    </div>

    <div class="faq-empty"></div>

    <div class="faq-content-details">
      <div class="faq-content-register-title">
        <span class="font-title-gray-mrgBtm">문의 유형</span>
        <span class="font-title">1:1 문의</span>
      </div>

      <div class="faq-content-details-list">
        <form th:action="@{/inquiry/post}" method="post" th:object="${inquiryRequire}" >
          <div class="faq-register-details-title">
            <input class="input-title" th:field="*{title}" placeholder="제목"/>
          </div>
          <div class="faq-register-details-content">
            <textarea class="input-content" placeholder="내용을 입력하세요." th:field="*{content}"></textarea>
          </div>
          <div class="faq-register-btn">
            <span class="faq-register-not-selected-btn">취소</span>
            <input class="faq-register-selected-btn" type="submit" value="문의하기">
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
</body>
</html>