<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js"
          integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
          crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../../../static/css/style.css">
  <link rel="stylesheet" th:href="@{/css/faq.css}" href="../../../static/css/faq.css">
  <!--  <link rel="stylesheet" th:href="@{/css/index.css}" href="../../../static/css/index.css">-->
  <link rel="stylesheet" th:href="@{/css/recommend-post.css}" href="../../../static/css/recommend-post.css">
  <link rel="stylesheet" th:href="@{/css/profile-style.css}">
</head>

<body>
<div class="container-faq">

  <!-- 헤더 시작 -->
  <div th:replace="~{common/fragments/header::header}"></div>

  <!-- 헤더 끝 -->

  <div class="container-faq-bottom">
    <div class="faq-nav">
      <span class="selected-faq-nav"><a href="/faq">FAQ</a></span>
      <span class="not-selected-faq-nav"><a href="/inquiry">내 문의 내역</a></span>

    </div>

    <div class="faq-empty"></div>

    <div class="faq-content">
      <span class="font-title">문의 유형 선택</span>
      <span class="font-gray">문의 유형을 선택하면 문의 유형에 따라 [자주 찾는 도움말]을 확인할 수 있습니다.
        찾는 도움말이보이지 않으면 [도움말 검색]을 이용해 원하는 도움말을 찾아주세요.</span>
      <div class="category-btn">
        <th:block th:if="${categoryInfo}=='아이디 정보 · 보안'">
          <span class="selected-category-btn" onclick="location.href='/faq/아이디 정보 · 보안'"><a>아이디 정보 · 보안</a></span>
          <span class="not-selected-category-btn" onclick="location.href='/faq/포인트 복구'"><a>포인트 복구</a></span>
          <span class="not-selected-category-btn" onclick="location.href='/faq/슈퍼챗'"><a>슈퍼챗</a></span>
          <span class="not-selected-category-btn" onclick="location.href='/faq/계정 삭제'"><a>계정 삭제</a></span>
        </th:block>
        <th:block th:if="${categoryInfo}=='포인트 복구'">
          <span class="not-selected-category-btn" onclick="location.href='/faq/아이디 정보 · 보안'"><a>아이디 정보 · 보안</a></span>
          <span class="selected-category-btn" onclick="location.href='/faq/포인트 복구'"><a>포인트 복구</a></span>
          <span class="not-selected-category-btn" onclick="location.href='/faq/슈퍼챗'"><a>슈퍼챗</a></span>
          <span class="not-selected-category-btn" onclick="location.href='/faq/계정 삭제'"><a>계정 삭제</a></span>
        </th:block>
        <th:block th:if="${categoryInfo}=='슈퍼챗'">
          <span class="not-selected-category-btn" onclick="location.href='/faq/아이디 정보 · 보안'"><a>아이디 정보 · 보안</a></span>
          <span class="not-selected-category-btn" onclick="location.href='/faq/포인트 복구'"><a>포인트 복구</a></span>
          <span class="selected-category-btn" onclick="location.href='/faq/슈퍼챗'"><a>슈퍼챗</a></span>
          <span class="not-selected-category-btn" onclick="location.href='/faq/계정 삭제'"><a>계정 삭제</a></span>
        </th:block>
        <th:block th:if="${categoryInfo}=='계정 삭제'">
          <span class="not-selected-category-btn" onclick="location.href='/faq/아이디 정보 · 보안'"><a>아이디 정보 · 보안</a></span>
          <span class="not-selected-category-btn" onclick="location.href='/faq/포인트 복구'"><a>포인트 복구</a></span>
          <span class="not-selected-category-btn" onclick="location.href='/faq/슈퍼챗'"><a>슈퍼챗</a></span>
          <span class="selected-category-btn" onclick="location.href='/faq/계정 삭제'"><a>계정 삭제</a></span>
        </th:block>
        <th:block th:if="${categoryInfo}==null">
          <span class="not-selected-category-btn" onclick="location.href='/faq/아이디 정보 · 보안'"><a>아이디 정보 · 보안</a></span>
          <span class="not-selected-category-btn" onclick="location.href='/faq/포인트 복구'"><a>포인트 복구</a></span>
          <span class="not-selected-category-btn" onclick="location.href='/faq/슈퍼챗'"><a>슈퍼챗</a></span>
          <span class="not-selected-category-btn" onclick="location.href='/faq/계정 삭제'"><a>계정 삭제</a></span>
        </th:block>
      </div>

      <span class="font-title">도움말 검색</span>
      <span class="font-gray">검색으로 빠르게 도움말을 찾아보실 수 있습니다.</span>
      <div class="search-faq">
        <input class="input-title" id="keyWord">
        <img class="img-search" onclick="var anText_sub1 = document.getElementById('keyWord').value;
                                    location.href='/faq/searches/'+anText_sub1" th:src="@{/img/setting_top.png}" src="../../../static/img/setting_top.png">
      </div>

      <span class="font-title">자주 찾는 도움말</span>
      <div th:each="faqs:${faq}">
        <div class="faq-elements">
          <span class="font-blue" th:text="|[${faqs.getFaqCategory()}]|">[포인트 복구] </span>
          <a th:href="@{/faq/details/__${faqs.getFaqNo()}__}"><span class="font-white" th:text="${faqs.getTitle()}"></span></a>
        </div>
      </div>

    </div>
  </div>



</div>



</body>
</html>