<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js"
          integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
          crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../../../static/css/style.css">
  <link rel="stylesheet" th:href="@{/css/myFeed.css}" href="../../../static/css/faq.css">
  <!--  <link rel="stylesheet" th:href="@{/css/index.css}" href="../../../static/css/index.css">-->
  <link rel="stylesheet" th:href="@{/css/recommend-post.css}" href="../../../static/css/recommend-post.css">
</head>

<body>
<div class="container-faq">

  <!-- 헤더 시작 -->
  <div class="header">
    <div class="header-nav">
            <span id="logo">
                <a href="">내미콘</a>
            </span>

      <span id="menu-recommend" class="menu">
                <a href="">추천글</a>
            </span>

      <span id="menu-chart" class="menu">
                <a href="">차트</a>
            </span>

      <span id="menu-inquiry" class="menu">
                <a href="">문의</a>
            </span>

      <span id="menu-search" class="menu">
                <a href="">검색</a>
            </span>

      <span id="menu-login" class="menu-user">
                <a href="">로그인</a>
            </span>

      <span id="menu-join" class="menu-user">
                <a href="">회원가입</a>
            </span>
    </div>
  </div>
  <!-- 헤더 끝 -->

  <div class="container-register-bottom">
    <div class="faq-nav">
      <span class="not-selected-faq-nav"><a href="">FAQ</a></span>
      <span class="selected-inquire-nav"><a href="">내 문의 내역</a></span>

    </div>

    <div class="faq-empty"></div>

    <div class="faq-content-details">
      <div class="faq-content-register-title">
        <span class="font-title">내 문의 내역</span>
        <span class="font-title-gray-mrgBtm">최근 6개월 동안 접수하신 1:1 문의내역 및 답변 내용을 확인하실 수 있습니다.</span>
      </div>

      <div class="inquire-content">
        <div class="inquire-title">
          <span class="font-inquire-empty"></span>
          <span class="font-inquire-num">번호</span>
          <span class="font-inquire-title">제목</span>
          <span class="font-inquire-date">날짜</span>
          <span class="font-inquire-status">처리상태</span>
        </div>

        <div class="inquire-list">
          <span class="font-inquire-empty"></span>
          <span class="font-inquire-num">1</span>
          <span class="font-inquire-title">계정이 도용당했습니다.</span>
          <span class="font-inquire-date">2023.01.06</span>
          <span class="font-inquire-status">답변 완료</span>
        </div>

        <div class="inquire-list">
          <span class="font-inquire-empty"></span>
          <span class="font-inquire-num">2</span>
          <span class="font-inquire-title">문의 테스트 1.</span>
          <span class="font-inquire-date">2023.01.05</span>
          <span class="font-inquire-status">답변 완료</span>
        </div>

        <div class="inquire-list">
          <span class="font-inquire-empty"></span>
          <span class="font-inquire-num">3</span>
          <span class="font-inquire-title">문의 테스트 2.</span>
          <span class="font-inquire-date">2023.01.04</span>
          <span class="font-inquire-status">답변 완료</span>
        </div>

      </div>
    </div>


  </div>
</div>
</body>
</html>