<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Content I Like</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js"
          integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
          crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}" href="../../../static/css/style.css">
  <link rel="stylesheet" th:href="@{/css/faq.css}" href="../../../static/css/faq.css">
  <!--  <link rel="stylesheet" th:href="@{/css/index.css}" href="../../../static/css/index.css">-->
  <link rel="stylesheet" th:href="@{/css/recommend-post.css}" href="../../../static/css/recommend-post.css">
  <link rel="stylesheet" th:href="@{/css/profile-style.css}">
</head>

<body>
<div class="container-faq">

  <!-- 헤더 시작 -->
  <div th:replace="~{common/fragments/header::header}"></div>
  <!-- 헤더 끝 -->

  <div class="container-register-bottom">
    <div class="faq-nav">
      <span class="not-selected-faq-nav"><a href="/faq">FAQ</a></span>
      <span class="selected-inquire-nav"><a href="/inquiry">내 문의 내역</a></span>

    </div>

    <div class="faq-empty"></div>

    <div class="faq-content-details">
      <div class="faq-content-register-title">
        <span class="font-title">내 문의 내역</span>
        <span class="font-title-gray-mrgBtm">최근 6개월 동안 접수하신 1:1 문의내역 및 답변 내용을 확인하실 수 있습니다.</span>
      </div>

      <div class="inquire-content">
        <div class="inquire-title">
          <span class="font-inquire-details-empty"></span>
          <span class="font-inquire-details-title">제목</span>
          <span class="font-inquire-details-title-content" th:text="${inquiryDetail.getTitle()}">계정이 도용당했습니다.</span>
          <span class="font-inquire-details-num">번호</span>
          <span class="font-inquire-details-num-content" th:text="${inquiryDetail.getInquiryNo()}">1</span>
        </div>
        <div class="inquire-details">
          <span class="inquire-details-content">내용</span>
          <span class="inquire-details-content-content" th:text="${inquiryDetail.getContent()}">안녕하세요. User1 회원님. 회원님의 계정 도용을 확인하여 조치하였습니다.<br>내미콘을 이용해주셔서 감사합니다.</span>
          <div class="inquire-content-date">
            <span class="inquire-details-date">날짜</span>
            <span class="inquire-details-date-date" th:text="${inquiryDetail.getCreatedAt()}">2023.01.06</span>

          </div>

        </div>

      </div>
    </div>


  </div>
</div>
</body>
</html>