<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js"
          integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
          crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/track-chart.css}">
  <link rel="stylesheet" th:href="@{/css/profile-style.css}">

</head>
<body>
<div class="container">
  <div th:replace="~{common/fragments/header::header}"></div>

  <div class="contents">
    <div class="chart-menu">
      <div class="menu-button">
        <div class="active-chart-menu left-menu"><a th:href="@{/chart/track-monthly}">음원 차트</a></div>
        <div class="disabled-chart-menu right-menu"><a th:href="@{/chart/recommend-monthly}">게시물 차트</a></div>
      </div>
      <div class="sort">
        <div class="sort-name active-sort"><a th:href="@{/chart/track-weekly}">Weekly</a></div>
        <div class="sort-name">|</div>
        <div class="sort-name disabled-sort"><a th:href="@{/chart/track-monthly}">Monthly</a></div>
      </div>
    </div>

    <div class="line"></div>

    <div class="chart">
      <table class="chart-table">
        <tr class="chart-top">
          <td class="chart-top-title">순위</td>
          <td class="chart-top-title" colspan="2">곡 정보</td>
          <td class="chart-top-title">아티스트</td>
          <td class="chart-top-title">포인트 종합</td>
        </tr>
        <tr class="track-chart" th:each="chart : ${charts}">
          <td class="track-chart-no" th:text="${chartStat.count}">1</td>
          <td class="track-chart-img"><img th:src="${chart.albumImageUrl}"></td>
          <td class="track-chart-artist-name" th:text="${chart.artistName}">Ariana Grande</td>
          <td id="track-title"><a th:href="@{/music/track/{trackNo}(trackNo = ${chart.trackNo})}" th:text="${chart.trackTitle}">My Hair</a></td>
          <td class="track-chart-point" th:text="${chart.trackScore}">1600</td>
        </tr>
      </table>

    </div>

  </div>
</div>
</body>
<script>


</script>
</html>