<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search-Members</title>
    <link rel="stylesheet" href="../../../../../../../content_i_like/src/main/resources/static/css/style.css">
    <link rel="stylesheet" href="../../../../../../../content_i_like/src/main/resources/static/css/members-search.css">
    <link rel="stylesheet" href="../../../../../../../content_i_like/src/main/resources/static/css/search.css">

</head>
<body>
<div class="container">
    <div class="header">
        <div class="header-nav">
            <span id="logo">
                <a href="">내미콘</a>
            </span>
            <span id="menu-recommend" class="menu">
                <a href="">추천글</a>
            </span>

            <span id="menu-chart" class="menu">
                <a href="">차트</a>
            </span>

            <span id="menu-inquiry" class="menu">
                <a href="">문의</a>
            </span>

            <span id="menu-search" class="menu">
                <a href="">검색</a>
            </span>

            <span id="menu-login" class="menu-user">
                <a href="">로그인</a>
            </span>

            <span id="menu-join" class="menu-user">
                <a href="">회원가입</a>
            </span>
        </div>
    </div>
    <div class="block-top">
        <div class="search-engine">
            <div class="logo">내미콘</div>
            <div class="search-whole">
                <select class="categories">
                    <option value="전체">전체</option>
                    <option value="추천글"><b>추천글</b></option>
                    <option value="음원">음원</option>
                    <option value="유저">유저</option>
                </select>
                <input class="search-input">
                <a href="" class="search-button" type="button">
                    <img src="../../../../../../../content_i_like/src/main/resources/static/img/search-icon-transparent-images-vector-15%201.png">
                </a>
            </div>
        </div>
    </div>
    <div class="block-middle">
        <span class="count-results">'사랑' 으로 총 3개의 검색결과를 찾았습니다.</span>
        <hr>
        <br>
        <ul>
            <li><img src="../../../../../../../content_i_like/src/main/resources/static/img/younha.jpg" class="card"/>
                <a href="">사랑</a><span>가입일자<br>2023.02.09</span></li>
            <li><img src="../../../../../../../content_i_like/src/main/resources/static/img/younha.jpg" class="card"/>
                <a href="">사랑</a><span>가입일자<br>2023.02.09</span></li>
            <li><img src="../../../../../../../content_i_like/src/main/resources/static/img/younha.jpg" class="card"/>
                <a href="">사랑</a><span>가입일자<br>2023.02.09</span></li>
            <li><img src="../../../../../../../content_i_like/src/main/resources/static/img/younha.jpg" class="card"/>
                <a href="">사랑</a><span>가입일자<br>2023.02.09</span></li>
            <li><img src="../../../../../../../content_i_like/src/main/resources/static/img/younha.jpg" class="card"/>
                <a href="">사랑</a><span>가입일자<br>2023.02.09</span></li>
        </ul>
        <ul>
            <li><img src="../../../../../../../content_i_like/src/main/resources/static/img/younha.jpg" class="card"/>
                <a href="">사랑</a><span>가입일자<br>2023.02.09</span></li>
            <li><img src="../../../../../../../content_i_like/src/main/resources/static/img/younha.jpg" class="card"/>
                <a href="">사랑</a><span>가입일자<br>2023.02.09</span></li>
            <li><img src="../../../../../../../content_i_like/src/main/resources/static/img/younha.jpg" class="card"/>
                <a href="">사랑</a><span>가입일자<br>2023.02.09</span></li>
            <li><img src="../../../../../../../content_i_like/src/main/resources/static/img/younha.jpg" class="card"/>
                <a href="">사랑</a><span>가입일자<br>2023.02.09</span></li>
            <li><img src="../../../../../../../content_i_like/src/main/resources/static/img/younha.jpg" class="card"/>
                <a href="">사랑</a><span>가입일자<br>2023.02.09</span></li>
        </ul>
        <ul>
            <li><img src="../../../../../../../content_i_like/src/main/resources/static/img/younha.jpg" class="card"/>
                <a href="">사랑</a><span>가입일자<br>2023.02.09</span></li>
            <li><img src="../../../../../../../content_i_like/src/main/resources/static/img/younha.jpg" class="card"/>
                <a href="">사랑</a><span>가입일자<br>2023.02.09</span></li>
            <li><img src="../../../../../../../content_i_like/src/main/resources/static/img/younha.jpg" class="card"/>
                <a href="">사랑</a><span>가입일자<br>2023.02.09</span></li>
            <li><img src="../../../../../../../content_i_like/src/main/resources/static/img/younha.jpg" class="card"/>
                <a href="">사랑</a><span>가입일자<br>2023.02.09</span></li>
            <li><img src="../../../../../../../content_i_like/src/main/resources/static/img/younha.jpg" class="card"/>
                <a href="">사랑</a><span>가입일자<br>2023.02.09</span></li>
        </ul>
    </div>
</div>
</body>
</html>