<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/fragments/search}">
<head>
  <meta charset="UTF-8">
  <title>Search-Members</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/members-search.css}">
  <link rel="stylesheet" th:href="@{/css/search.css}">
  <link rel="stylesheet" th:href="@{/css/profile-style.css}">

</head>
<body>
<div layout:fragment="search-fragment">
  <div class="container">
    <div th:replace="~{common/fragments/search::search}"></div>

    <form class="block-middle" id="paging" th:method="get"
          th:action="@{/search/members}" th:object="${sortStrategy}">
      <input type="hidden" th:name="keyword" th:value="${keyword}">

      <div class="sort-results">
        <div class="sort-block">
          <div class="detailed-search-description"><span>상세 보기: </span></div>
          <label>
            <div class="filtering-sort-directions">
              <input type="radio" id="descending" th:field="*{direction}" value="DESC">
              <input type="radio" id="ascending" th:field="*{direction}" value="ASC">
              <label for="descending" class="directions-container descending">
                <div class="circle"></div>
                <span>내림차순</span>
              </label>
              <label for="ascending" class="directions-container ascending">
                <div class="circle"></div>
                <span>오름차순</span>
              </label>
            </div>
          </label>

          <label>
            <div class="filtering-sort-properties">
              <input type="radio" id="member-nickName" th:field="*{property}" value="nickName">
              <input type="radio" id="member-createdAt" th:field="*{property}" value="createdAt">
              <label for="member-nickName" class="properties-container member-nickName">
                <div class="circle"></div>
                <span>닉네임</span>
              </label>
              <label for="member-createdAt" class="properties-container member-createdAt">
                <div class="circle"></div>
                <span>가입 날짜</span>
              </label>
            </div>
          </label>
          <div class="apply-button">
            <button class="apply-button-itself" type="submit">
              <img class="apply-button-img"
                   th:src="@{/img/search-icon-transparent-images-vector-15 1.png}">
            </button>
          </div>
        </div>
      </div>


      <span class="count-results"
            th:text="${memberNickName} ? ${memberNickName.message} : '검색해주세요.'"></span>
      <hr>
      <br>
      <th:block th:if="${memberNickName != null and memberNickNameAsList != null}">
        <ul class="members-list"
            th:each="counter: ${#numbers.sequence(0, memberNickName.pages.getNumberOfElements()-1, 5)}"
            th:unless="${counter >= memberNickName.pages.getNumberOfElements()}">
          <th:block th:unless="${counter >= memberNickName.pages.getNumberOfElements()}">
            <li class="members-list-element">
              <!--              th:unless="${status.current % 5 != 0}">-->
              <div class="members-profile-info">
                <img th:src="${memberNickNameAsList.get(counter).profileImgUrl}"
                     class="members-image"/>
                <a class="members-name" th:text="${memberNickNameAsList.get(counter).nickName}"
                   th:href="@{/member/recommends/feeds/__${memberNickNameAsList.get(counter).memberNo}__}"></a>
                <span class="members-date"
                      th:utext="'가입일자<br>' +
                        ${#temporals.format(memberNickNameAsList.get(counter).createdAt, 'yyyy.MM.dd')}"><br>2023.02.09</span>
              </div>

            </li>
          </th:block>
          <th:block th:unless="${counter + 1 >= memberNickName.pages.getNumberOfElements()}">
            <li class="members-list-element">
              <!--              th:unless="${status.current % 5 != 0}">-->
              <div class="members-profile-info">
                <img th:src="${memberNickNameAsList.get(counter+1).profileImgUrl}"
                     class="members-image"/>
                <a class="members-name" th:text="${memberNickNameAsList.get(counter+1).nickName}"
                   th:href="@{/member/recommends/feeds/__${memberNickNameAsList.get(counter+1).memberNo}__}"></a>
                <span class="members-date"
                      th:utext="'가입일자<br>' +
                        ${#temporals.format(memberNickNameAsList.get(counter+1).createdAt, 'yyyy.MM.dd')}"><br>2023.02.09</span>
              </div>

            </li>
          </th:block>
          <th:block th:unless="${counter + 2 >= memberNickName.pages.getNumberOfElements()}">
            <li class="members-list-element">
              <!--              th:unless="${status.current % 5 != 0}">-->
              <div class="members-profile-info">
                <img th:src="${memberNickNameAsList.get(counter+2).profileImgUrl}"
                     class="members-image"/>
                <a class="members-name" th:text="${memberNickNameAsList.get(counter+2).nickName}"
                   th:href="@{/member/recommends/feeds/__${memberNickNameAsList.get(counter+2).memberNo}__}"></a>
                <span class="members-date"
                      th:utext="'가입일자<br>' +
                        ${#temporals.format(memberNickNameAsList.get(counter+2).createdAt, 'yyyy.MM.dd')}"><br>2023.02.09</span>
              </div>

            </li>
          </th:block>
          <th:block th:unless="${counter + 3 >= memberNickName.pages.getNumberOfElements()}">
            <li class="members-list-element">
              <!--              th:unless="${status.current % 5 != 0}">-->
              <div class="members-profile-info">
                <img th:src="${memberNickNameAsList.get(counter+3).profileImgUrl}"
                     class="members-image"/>
                <a class="members-name" th:text="${memberNickNameAsList.get(counter+3).nickName}"
                   th:href="@{/member/recommends/feeds/__${memberNickNameAsList.get(counter+3).memberNo}__}"></a>
                <span class="members-date"
                      th:utext="'가입일자<br>' +
                        ${#temporals.format(memberNickNameAsList.get(counter+3).createdAt, 'yyyy.MM.dd')}"><br>2023.02.09</span>
              </div>

            </li>
          </th:block>
          <th:block th:unless="${counter + 4 >= memberNickName.pages.getNumberOfElements()}">
            <li class="members-list-element">
              <!--              th:unless="${status.current % 5 != 0}">-->
              <div class="members-profile-info-last">
                <img th:src="${memberNickNameAsList.get(counter+4).profileImgUrl}"
                     class="members-image"/>
                <a class="members-name" th:text="${memberNickNameAsList.get(counter+4).nickName}"
                   th:href="@{/member/recommends/feeds/__${memberNickNameAsList.get(counter+4).memberNo}__}"></a>
                <span class="members-date"
                      th:utext="'가입일자<br>' +
                        ${#temporals.format(memberNickNameAsList.get(counter+4).createdAt, 'yyyy.MM.dd')}"><br>2023.02.09</span>
              </div>

            </li>
          </th:block>

        </ul>
      </th:block>

      <div class="paging-numbers">
        <!--        <a class="prev-page">&laquo;</a>-->
        <button th:each="counter : ${#numbers.sequence(1, memberNickName.pages.totalPages, 1)}"
           class="paging-numbers-themselves" th:unless="${counter > pageable.pageNumber + 5 || counter < pageable.pageNumber - 5 }"
           th:text="${counter}"
           th:name="page"
           th:value="${counter - 1}">
<!--           th:href="@{/search/members(keyword=__${keyword}__, page=__${counter}__)}"-->
        </button>
        <!--        <a class="next-page">&raquo;</a>-->
      </div>

      <!--      <button class="page-button-prev" type="submit" th:unless="${memberNickName.pages.isFirst()}"-->
      <!--              th:name="page" th:value="${pageable.previousOrFirst().pageNumber}">이전-->
      <!--      </button>-->
      <!--      <button class="page-button-next" type="submit" th:unless="${memberNickName.pages.isLast()}"-->
      <!--              th:name="page" th:value="${pageable.next().pageNumber}">다음-->
      <!--      </button>-->
    </form>
  </div>
</div>
<script th:inline="javascript">
</script>
</body>

</html>