<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{pages/search/search}">
<head>
  <meta charset="UTF-8">
  <title>Search-Members</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/members-search.css}">
  <link rel="stylesheet" th:href="@{/css/search.css}">
  <link rel="stylesheet"
        href="../../../../../../../content_i_like/src/main/resources/static/css/style.css">
  <link rel="stylesheet"
        href="../../../../../../../content_i_like/src/main/resources/static/css/members-search.css">
  <link rel="stylesheet"
        href="../../../../../../../content_i_like/src/main/resources/static/css/search.css">

</head>
<body>
<div layout:fragment="search-fragment">
  <div class="container">
    <div th:replace="~{pages/search/search::search}"></div>

    <div class="block-middle">
      <span class="count-results"
            th:text="${memberNickName} ? ${memberNickName.message} : '검색해주세요.'"></span>
      <hr>
      <br>
      <th:block th:if="${memberNickName != null and memberNickNameAsList != null}">
        <ul class="members-list"
            th:if="${memberNickName.pages != null and memberNickNameAsList != null}"
            th:unless="${counter == memberNickName.pages.getNumberOfElements()}"
            th:each="counter: ${#numbers.sequence(0, memberNickName.pages.getNumberOfElements() - 1, 2)}">
          <li class="members-list-element">
            <!--              th:unless="${status.current % 5 != 0}">-->
            <div class="members-profile-info">
              <img th:src="${memberNickNameAsList.get(counter).profileImgUrl}"
                   class="members-image"/>
              <a class="members-name" th:text="${memberNickNameAsList.get(counter).nickName}"
                 href=""></a>
              <span class="members-date"
                    th:text="${memberNickNameAsList.get(counter).createdAt}"><br>2023.02.09</span>
            </div>
          </li>

          <li class="members-list-element"
              th:unless="${counter + 1 == memberNickName.pages.getNumberOfElements()}">
            <!--              th:unless="${status.current % 5 != 0}">-->
            <div class="members-profile-info">
              <img th:src="${memberNickNameAsList.get(counter+1).profileImgUrl}"
                   class="members-image"/>
              <a class="members-name" th:text="${memberNickNameAsList.get(counter+1).nickName}"
                 href=""></a>
              <span class="members-date" th:text="${memberNickNameAsList.get(counter+1).createdAt}"><br>2023.02.09</span>
            </div>
          </li>

          <li class="members-list-element"
              th:unless="${counter + 2 == memberNickName.pages.getNumberOfElements()}">
            <!--              th:unless="${status.current % 5 != 0}">-->
            <div class="members-profile-info">
              <img th:src="${memberNickNameAsList.get(counter+2).profileImgUrl}"
                   class="members-image"/>
              <a class="members-name" th:text="${memberNickNameAsList.get(counter+2).nickName}"
                 href=""></a>
              <span class="members-date" th:text="${memberNickNameAsList.get(counter+2).createdAt}"><br>2023.02.09</span>
            </div>

          </li>

          <li class="members-list-element"
              th:unless="${counter + 3 == memberNickName.pages.getNumberOfElements()}">
            <!--              th:unless="${status.current % 5 != 0}">-->
            <div class="members-profile-info">
              <img th:src="${memberNickNameAsList.get(counter+3).profileImgUrl}"
                   class="members-image"/>
              <a class="members-name" th:text="${memberNickNameAsList.get(counter+3).nickName}"
                 href=""></a>
              <span class="members-date" th:text="${memberNickNameAsList.get(counter+3).createdAt}"><br>2023.02.09</span>
            </div>

          </li>

          <li class="members-list-element"
              th:unless="${counter + 4 == memberNickName.pages.getNumberOfElements()}">
            <!--              th:unless="${status.current % 5 != 0}">-->
            <div class="members-profile-info">
              <img th:src="${memberNickNameAsList.get(counter+4).profileImgUrl}"
                   class="members-image"/>
              <a class="members-name" th:text="${memberNickNameAsList.get(counter+4).nickName}"
                 href=""></a>
              <span class="members-date" th:text="${memberNickNameAsList.get(counter+4).createdAt}"><br>2023.02.09</span>
            </div>

          </li>
        </ul>

      </th:block>
    </div>
  </div>
</div>
</body>
</html>