<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{pages/search/search}">
<head>
  <meta charset="UTF-8">
  <title>Search-Recommends</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/recommends-search.css}">
  <link rel="stylesheet" th:href="@{/css/search.css}">
  <link rel="stylesheet"
        href="../../../../../../../content_i_like/src/main/resources/static/css/style.css">
  <link rel="stylesheet"
        href="../../../../../../../content_i_like/src/main/resources/static/css/recommends-search.css">
  <link rel="stylesheet"
        href="../../../../../../../content_i_like/src/main/resources/static/css/search.css">

</head>
<body>
<div layout:fragment="search-fragment">
  <div class="container">

    <div th:replace="~{pages/search/search::search}"></div>
    <div class="block-middle">
      <span class="count-results"
            th:text="${recommendsList} ? ${recommendsList.message} : '검색해주세요.'"></span>
      <hr>
      <br>
      <th:block th:if="${recommendsList != null}">
        <ul class="recommend-list" th:each="element, status : ${recommendsList.pages}" th:if="${status.index<5}">
          <li class="recommend-list-elements">
            <img class="recommend-image" th:src="${element.recommendImageUrl}"
                 src="https://content-i-like.s3.ap-northeast-2.amazonaws.com/power.jpg"/>
            <div class="title-and-contents">
              <div class="recommend-text">
                <a href="" class="recommend-title" th:style="${'font-weight:bold'}" th:text="${element.recommendTitle}"></a>
                <span class="recommend-date" th:text="${element.getCreatedAt()}"></span>
              </div>

              <div class="separator"></div>
              <span th:text="${element.summarizedRecommendContent}"></span>
            </div>
          </li>
        </ul>
      </th:block>
    </div>
  </div>
</div>
</body>
</html>