<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/fragments/search}">
<head>
  <meta charset="UTF-8">
  <title>Content I Like</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/recommends-search.css}">
  <link rel="stylesheet" th:href="@{/css/search.css}">
  <link rel="stylesheet" th:href="@{/css/profile-style.css}">

</head>
<body>
<div layout:fragment="search-fragment">
  <div class="container">
    <div th:replace="~{common/fragments/search::search}"></div>


    <form class="block-middle" th:object="${sortStrategy}" th:action="@{/search/recommends}"
          th:method="get">
      <input type="hidden" th:name="keyword" th:value="${keyword}">

      <div class="sort-results">
        <div class="sort-block">
          <div class="detailed-search-description"><span>상세 보기: </span></div>
          <label>
            <div class="filtering-sort-directions">
              <input type="radio" id="descending" th:field="*{direction}" value="DESC">
              <input type="radio" id="ascending" th:field="*{direction}" value="ASC">
              <label for="descending" class="directions-container descending">
                <div class="circle"></div>
                <span>내림차순</span>
              </label>
              <label for="ascending" class="directions-container ascending">
                <div class="circle"></div>
                <span>오름차순</span>
              </label>
            </div>
          </label>

          <label>
            <div class="filtering-sort-properties">
              <input type="radio" id="recommend-views" th:field="*{property}"
                     value="recommendViews">
              <input type="radio" id="recommend-points" th:field="*{property}"
                     value="recommendPoint">
              <input type="radio" id="recommend-title" th:field="*{property}"
                     value="recommendTitle">
              <input type="radio" id="recommend-date" th:field="*{property}" value="createdAt">
              <label for="recommend-views" class="properties-container recommend-views">
                <div class="circle"></div>
                <span>조회수</span>
              </label>
              <label for="recommend-points" class="properties-container recommend-points">
                <div class="circle"></div>
                <span>포인트</span>
              </label>
              <label for="recommend-title" class="properties-container recommend-title">
                <div class="circle"></div>
                <span>글 제목</span>
              </label>
              <label for="recommend-date" class="properties-container recommend-date">
                <div class="circle"></div>
                <span>작성 날짜</span>
              </label>
            </div>
          </label>
          <div class="apply-button">
            <button class="apply-button-itself" type="submit">
              <img class="apply-button-img"
                   th:src="@{/img/search-icon-transparent-images-vector-15 1.png}">
            </button>
          </div>
        </div>
      </div>


      <span class="count-results"
            th:text="${recommendsList} ? ${recommendsList.message} : '검색해주세요.'"></span>
      <hr>
      <br>
      <th:block th:if="${recommendsList != null}">
        <div>
          <ul class="recommend-list" th:each="element, status : ${recommendsListAsList}"
              th:if="${status.index<5}">
            <li class="recommend-list-elements">
              <img class="recommend-image" th:src="${element.recommendImageUrl}"
                   src="https://content-i-like.s3.ap-northeast-2.amazonaws.com/power.jpg"/>
              <div class="title-and-contents">
                <div class="recommend-text">
                  <a th:href="@{/recommends/__${element.recommendNo}__}" class="recommend-title"
                     th:style="${'font-weight:bold'}" th:text="${element.recommendTitle}"></a>
                  <span class="recommend-date"
                        th:text="${#temporals.format(element.createdAt, 'yyyy년 MM월 dd일 HH시 mm분')}"></span>
                </div>

                <div class="separator"></div>
                <span th:text="${element.summarizedRecommendContent}"></span>
              </div>
            </li>
          </ul>
        </div>
      </th:block>

      <div class="paging-numbers">
        <!--        <a class="prev-page">&laquo;</a>-->
        <button th:each="counter : ${#numbers.sequence(1, recommendsList.pages.totalPages, 1)}"
           class="paging-numbers-themselves" th:unless="${counter > pageable.pageNumber + 5 || counter < pageable.pageNumber - 5 }"
           th:text="${counter}"
           th:name="page"
           th:value="${counter - 1}"></button>
        <!--        <a class="next-page">&raquo;</a>-->
      </div>

      <!--      <button class="page-button-prev" th:unless="${recommendsList.pages.isFirst()}" th:name="page"-->
      <!--              th:value="${pageable.previousOrFirst().pageNumber}">이전-->
      <!--      </button>-->
      <!--      <button class="page-button-next" th:unless="${recommendsList.pages.isLast()}" th:name="page"-->
      <!--              th:value="${pageable.next().pageNumber}">다음-->
      <!--      </button>-->
    </form>
  </div>
</div>
</body>
</html>