<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Content I Like</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/track-details.css}">
  <link rel="stylesheet" th:href="@{/css/profile-style.css}">
  <link rel="stylesheet"
        href="../../../../../../../content_i_like/src/main/resources/static/css/style.css">
  <link rel="stylesheet"
        href="../../../../../../../content_i_like/src/main/resources/static/css/track-details.css">
</head>
<body>
<div class="container">
  <div th:replace="~{common/fragments/header::header}"></div>

  <div class="block-top">
    <div class="track-header">
      <img th:src="${trackInfo.thumbnailUrl}"
           src="../../../../../../../content_i_like/src/main/resources/static/img/event-horizon.jpg">
      <span>
                <span>
                    <span class="track-date"
                          th:utext="${trackInfo.trackReleaseDate} + '<br>'">2022<br></span>
                 <span class="track-title" th:text="${trackInfo.trackTitle}">물고기</span>
                </span>
                <span class="track-artist" th:text="${trackInfo.trackArtist}">백예린</span>

          <div class="track-content-container">
                <span class="track-content">앨범 명<br>
                  <span class="track-content-small" th:text="${trackInfo.trackAlbum}">앨범</span>
                </span>
                <span class="track-content-second">수록곡<br>
                  <span class="track-content-small"
                        th:text="${trackInfo.albumTotalTracks}">앨범</span>
                </span>
                <span class="track-content-third">추천 글<br>
                  <span class="track-content-small"
                        th:text="${trackInfo.recommendsOfTracks.size()}">앨범</span>
                </span>
          </div>
        </span>
      <div class="create-post-button">
        <button></button>
      </div>
    </div>
    </span>
  </div>

  <!--</div>-->
  <div class="line">
    <hr>
  </div>
  <div class="block-middle">

    <div class="profile-and-contents">
      <div class="image-and-name">
        <img th:unless="${bestComment.profileImgUrl == null}"
             th:src="${bestComment.profileImgUrl}"
             src="../../../../../../../content_i_like/src/main/resources/static/img/younha.jpg">
        <img th:if="${bestComment.profileImgUrl == null}"
             src="https://content-i-like.s3.ap-northeast-2.amazonaws.com/80c4f0a7-c4e0-44a5-85d6-315dc793fe28-profile.jpg">
      </div>
      <div class="member-comment" th:unless="${trackRecommendsAsList == null}">
          <span class="best-comment-text" th:unless="${bestComment == null}"
                th:text="${bestComment.commentContent}"></span>
        <span class="best-comment-text" th:if="${bestComment.commentContent == null}">댓글 후원기록이 없는 음원입니다.</span>
      </div>
    </div>

    <div class="name-and-likes">
      <div class="recommender-name">
        <a th:href="@{/member/recommends/feeds/__${bestComment.memberNo}__}"
           th:unless="${bestComment.memberNickname == null}"
           th:text="${bestComment.memberNickname}" class="member-recommender"></a>
        <a th:href="@{/member/recommends/feeds/__${bestComment.memberNo}__}"
           th:if="${bestComment.memberNickname == null}"
           class="member-recommender">익명의 사용자</a>
      </div>
      <div class="likes-no">
        <img id="likes-img" th:src="@{/img/like icon_4013753.png}"
             src="../../../../../../../content_i_like/src/main/resources/static/img/like%20icon_4013753.png"/>
        <span class="likes-count" th:text="${bestComment.commentPoint}">10</span>
      </div>
    </div>
  </div>
  <div class="block-end">
    <ul th:each="counter: ${#numbers.sequence(0, trackInfo.recommendsOfTracks.size() - 1, 3)}">
      <li class="card-left" th:unless="${counter >= trackInfo.recommendsOfTracks.size()}">
        <div class="card"
             th:style="'background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(' + ${trackRecommendsAsList.get(counter).recommendImageUrl} + ') no-repeat center;'">
          <div class="music-info">
                        <span class="music-img"><img th:src="${trackInfo.thumbnailUrl}"
                                                     src="../../../../../../../content_i_like/src/main/resources/static/img/event-horizon.jpg"/> </span>
            <span class="music-info-text" th:text="${#strings.length(trackInfo.trackTitle) > 10} ?
             ${#strings.substring(trackInfo.trackTitle, 0, 10)}+ '... - '
             : ${trackInfo.trackTitle} + ' - '"></span>
            <span class="music-info-text" th:text="${#strings.length(trackInfo.trackArtist) > 10} ?
             ${#strings.substring(trackInfo.trackArtist, 0, 10)} + '...'
             : ${trackInfo.trackArtist}"></span>
          </div>

          <div class="body"></div>

          <div class="post-info">
            <div class="post-info-top">
              <a class="post-title"
                 th:href="@{/recommends/__${trackRecommendsAsList.get(counter).recommendNo}__}"
                 th:text="${trackRecommendsAsList.get(counter).recommendTitle}"></a>
              <span class="like"
                    th:if="${trackRecommendsAsList.get(counter).countLikes == null}">♥ 0</span>
              <span class="like"
                    th:unless="${trackRecommendsAsList.get(counter).countLikes == null}"
                    th:text="'♥ ' + ${trackRecommendsAsList.get(counter).countLikes}"></span>
            </div>

            <div class="separator"></div>

            <div class="post-content"
                 th:text="${trackRecommendsAsList.get(counter).summarizedRecommendContent}">Lorem
              ipsum dolor sit amet, consectetuer adipi
              scing elit. Aenean commodo ligula eget dolor.
              Aenean massa. Cum sociis natoqueum dolor sit
              amet, consectetuer adipiscing elit.
            </div>
            <div class="post-author" th:text="${trackRecommendsAsList.get(counter).memberNickname}">
              Park Ron
            </div>
          </div>
        </div>
      </li>
      <li class="card-middle" th:unless="${counter+1 >= trackInfo.recommendsOfTracks.size()}">
        <div class="card"
             th:style="'background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(' + ${trackRecommendsAsList.get(counter+1).recommendImageUrl} + ') no-repeat center;'">
          <div class="music-info">
                        <span class="music-img"><img th:src="${trackInfo.thumbnailUrl}"
                                                     src="../../../../../../../content_i_like/src/main/resources/static/img/event-horizon.jpg"/> </span>
            <span class="music-info-text" th:text="${#strings.length(trackInfo.trackTitle) > 10} ?
             ${#strings.substring(trackInfo.trackTitle, 0, 10)}+ '... - '
             : ${trackInfo.trackTitle} + ' - '"></span>
            <span class="music-info-text" th:text="${#strings.length(trackInfo.trackArtist) > 10} ?
             ${#strings.substring(trackInfo.trackArtist, 0, 10)} + '...'
             : ${trackInfo.trackArtist}"></span>
          </div>

          <div class="body"></div>

          <div class="post-info">
            <div class="post-info-top">
              <a class="post-title"
                 th:href="@{/recommends/__${trackRecommendsAsList.get(counter+1).recommendNo}__}"
                 th:text="${trackRecommendsAsList.get(counter+1).recommendTitle}"></a>
              <span class="like" th:if="${trackRecommendsAsList.get(counter+1).countLikes == null}">♥ 0</span>
              <span class="like"
                    th:unless="${trackRecommendsAsList.get(counter+1).countLikes == null}"
                    th:text="'♥ ' + ${trackRecommendsAsList.get(counter+1).countLikes}"></span>
            </div>

            <div class="separator"></div>

            <div class="post-content"
                 th:text="${trackRecommendsAsList.get(counter+1).summarizedRecommendContent}">Lorem
              ipsum dolor sit amet, consectetuer adipi
              scing elit. Aenean commodo ligula eget dolor.
              Aenean massa. Cum sociis natoqueum dolor sit
              amet, consectetuer adipiscing elit.
            </div>
            <div class="post-author"
                 th:text="${trackRecommendsAsList.get(counter+1).memberNickname}">Park Ron
            </div>
          </div>
        </div>
      </li>
      <li class="card-right" th:unless="${counter+2 >= trackInfo.recommendsOfTracks.size()}">
        <div class="card"
             th:style="'background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(' + ${trackRecommendsAsList.get(counter+2).recommendImageUrl} + ') no-repeat center;'">
          <div class="music-info">
                        <span class="music-img"><img th:src="${trackInfo.thumbnailUrl}"
                                                     src="../../../../../../../content_i_like/src/main/resources/static/img/event-horizon.jpg"/> </span>
            <span class="music-info-text" th:text="${#strings.length(trackInfo.trackTitle) > 10} ?
             ${#strings.substring(trackInfo.trackTitle, 0, 10)}+ '... - '
             : ${trackInfo.trackTitle} + ' - '"></span>
            <span class="music-info-text" th:text="${#strings.length(trackInfo.trackArtist) > 10} ?
             ${#strings.substring(trackInfo.trackArtist, 0, 10)} + '...'
             : ${trackInfo.trackArtist}"></span>
          </div>

          <div class="body"></div>

          <div class="post-info">
            <div class="post-info-top">
              <a class="post-title"
                 th:href="@{/recommends/__${trackRecommendsAsList.get(counter+2).recommendNo}__}"
                 th:text="${trackRecommendsAsList.get(counter+2).recommendTitle}"></a>
              <span class="like" th:if="${trackRecommendsAsList.get(counter+2).countLikes == null}">♥ 0</span>
              <span class="like"
                    th:unless="${trackRecommendsAsList.get(counter+2).countLikes == null}"
                    th:text="'♥ ' + ${trackRecommendsAsList.get(counter+2).countLikes}"></span>
            </div>

            <div class="separator"></div>

            <div class="post-content"
                 th:text="${trackRecommendsAsList.get(counter+2).summarizedRecommendContent}">Lorem
              ipsum dolor sit amet, consectetuer adipi
              scing elit. Aenean commodo ligula eget dolor.
              Aenean massa. Cum sociis natoqueum dolor sit
              amet, consectetuer adipiscing elit.
            </div>
            <div class="post-author"
                 th:text="${trackRecommendsAsList.get(counter+2).memberNickname}">Park Ron
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>

</body>
</html>