<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tack-Detail</title>
    <link rel="stylesheet" href="../../../../../../../content_i_like/src/main/resources/static/css/style.css">
    <link rel="stylesheet" href="../../../../../../../content_i_like/src/main/resources/static/css/track-details.css">
</head>
<body>
<div class="container">
    <div class="header">
        <div class="header-nav">
            <span id="logo">
                <a href="">내미콘</a>
            </span>
            <span id="menu-recommend" class="menu">
                <a href="">추천글</a>
            </span>

            <span id="menu-chart" class="menu">
                <a href="">차트</a>
            </span>

            <span id="menu-inquiry" class="menu">
                <a href="">문의</a>
            </span>

            <span id="menu-search" class="menu">
                <a href="">검색</a>
            </span>

            <span id="menu-login" class="menu-user">
                <a href="">로그인</a>
            </span>

            <span id="menu-join" class="menu-user">
                <a href="">회원가입</a>
            </span>
        </div>
    </div>

    <div class="block-top">
        <div>
            <img src="../../../../../../../content_i_like/src/main/resources/static/img/event-horizon.jpg">

            <span>
                <span>
                    <span class="track-date">
                        2022<br>
                    </span>
                 <span class="track-title">그게 나였네</span>
                </span>
                <span class="track-artist">백예린</span>
                <span class="track-content">
                    물고기
                </span>
                </span>
            </span>
        </div>

    </div>
    <div class="line">
        <hr>
    </div>
    <div class="block-middle">
        <div>
            <div>
                <img src="../../../../../../../content_i_like/src/main/resources/static/img/younha.jpg">
                <span class="member-recommender">봄봄</span>
            </div>
            <div class="member-comment">
            <span>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa magnis .
        penatibus et magnis dis parturient montes,nascetur ridiculus mus. Donec quam felis, ultricies nec, fringilla
        sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eimperdiet a, pretium ult
        venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integesem. Nulla cons.
            </span>
                <div class="likes-no">
                    <img class="likes-img" src="../../../../../../../content_i_like/src/main/resources/static/img/like%20icon_4013753.png"><span>10</span>
                </div>
            </div>
        </div>
    </div>
    <div class="block-end">
        <ul>
            <li class="card-left">
                <div class="card">
                    <div class="music-info">
                        <span class="music-img"><img src="../../../../../../../content_i_like/src/main/resources/static/img/event-horizon.jpg"/> </span>
                        <span class="music-info-text">사건의 지평선 - </span>
                        <span class="music-info-text">윤하</span>
                    </div>

                    <div class="body"></div>

                    <div class="post-info">
                        <div class="post-info-top">
                            <span class="post-title">드디어 찾아냈어요!</span>
                            <span class="like">♥ 1128</span>
                        </div>

                        <div class="separator"></div>

                        <div class="post-content">Lorem ipsum dolor sit amet, consectetuer adipi
                            scing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoqueum dolor sit
                            amet, consectetuer adipiscing elit.
                        </div>
                        <div class="post-author">Park Ron</div>
                    </div>
                </div>
            </li>
            <li class="card-middle">
                <div class="card">
                    <div class="music-info">
                        <span class="music-img"><img src="../../../../../../../content_i_like/src/main/resources/static/img/event-horizon.jpg"/> </span>
                        <span class="music-info-text">사건의 지평선 - </span>
                        <span class="music-info-text">윤하</span>
                    </div>

                    <div class="body"></div>

                    <div class="post-info">
                        <div class="post-info-top">
                            <span class="post-title">드디어 찾아냈어요!</span>

                            <span class="like">♥ 1128</span>
                        </div>

                        <div class="separator"></div>

                        <div class="post-content">Lorem ipsum dolor sit amet, consectetuer adipi
                            scing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoqueum dolor sit
                            amet, consectetuer adipiscing elit.
                        </div>
                        <div class="post-author">Park Ron</div>
                    </div>
                </div>
            </li>
            <li class="card-right">
                <div class="card">
                    <div class="music-info">
                        <span class="music-img"><img src="../../../../../../../content_i_like/src/main/resources/static/img/event-horizon.jpg"/> </span>
                        <span class="music-info-text">사건의 지평선 - </span>
                        <span class="music-info-text">윤하</span>
                    </div>

                    <div class="body"></div>

                    <div class="post-info">
                        <div class="post-info-top">
                            <span class="post-title">드디어 찾아냈어요!</span>
                            <span class="like">♥ 1128</span>
                        </div>

                        <div class="separator"></div>

                        <div class="post-content">Lorem ipsum dolor sit amet, consectetuer adipi
                            scing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoqueum dolor sit
                            amet, consectetuer adipiscing elit.
                        </div>
                        <div class="post-author">Park Ron</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>

</body>
</html>