<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{pages/search/search}">

<head>
  <meta charset="UTF-8">
  <title>Search-Tracks</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/tracks-search.css}">
  <link rel="stylesheet" th:href="@{/css/search.css}">
  <!--  <link rel="stylesheet" href="../../../../../../../content_i_like/src/main/resources/static/css/style.css">-->
  <!--  <link rel="stylesheet" href="../../../../../../../content_i_like/src/main/resources/static/css/tracks-search.css">-->
  <!--  <link rel="stylesheet" href="../../../../../../../content_i_like/src/main/resources/static/css/search.css">-->
</head>
<body>

<div layout:fragment="search-fragment">
  <div th:replace="~{pages/search/search::search}"></div>

  <div class="container">

    <div class="block-middle">
    <span class="count-results"
          th:text="${searchResult} ? ${searchResult.message} : '검색해주세요'"></span>
      <hr>
      <br>
      <th:block th:if="${searchResult != null}">
        <ul>
          <li th:each="page, status : ${searchResult.pages}" th:if="${status.index<2}">
            <img th:src="${page.thumbnailUrl}"/>
            <span>
              <a href="" class="track-title" th:text="${page.trackTitle}"></a>
              <span class="track-album" th:text="${page.trackAlbum}"></span>
              <span class="track-info" th:text="${page.trackArtist}"></span>
          </span>
          </li>
        </ul>
      </th:block>
    </div>
  </div>
</div>

</body>
</html>