<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/fragments/search}">

<head>
  <meta charset="UTF-8">
  <title>Search-Tracks</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/tracks-search.css}">
  <link rel="stylesheet" th:href="@{/css/search.css}">
  <link rel="stylesheet" th:href="@{/css/profile-style.css}">
</head>
<body>

<div layout:fragment="search-fragment">


  <div class="container">
    <div th:replace="~{common/fragments/search::search}"></div>

    <form class="block-middle" th:object="${sortStrategy}" th:action="@{/search/tracks}" th:method="get">
      <input type="hidden" th:name="keyword" th:value="${keyword}">


      <div class="sort-results">
        <div class="sort-block">
          <div class="detailed-search-description"><span>상세 보기: </span></div>
          <label>
            <div class="filtering-sort-directions">
              <input type="radio" id="descending" th:field="*{direction}" value="DESC">
              <input type="radio" id="ascending" th:field="*{direction}" value="ASC">
              <label for="descending" class="directions-container descending">
                <div class="circle"></div>
                <span>내림차순</span>
              </label>
              <label for="ascending" class="directions-container ascending">
                <div class="circle"></div>
                <span>오름차순</span>
              </label>
            </div>
          </label>

          <label>
            <div class="filtering-sort-properties">
              <input type="radio" id="track-number" th:field="*{property}" value="trackNo">
              <input type="radio" id="track-title" th:field="*{property}" value="trackTitle">
              <label for="track-number" class="properties-container track-number">
                <div class="circle"></div>
                <span>음원 번호</span>
              </label>
              <label for="track-title" class="properties-container track-title">
                <div class="circle"></div>
                <span>음원 제목</span>
              </label>
            </div>
          </label>
          <div class="apply-button">
            <button class="apply-button-itself" type="submit">
              <img class="apply-button-img"
                   th:src="@{/img/search-icon-transparent-images-vector-15 1.png}">
            </button>
          </div>
        </div>
      </div>

      <span class="count-results"
            th:text="${trackResults} ? ${trackResults.message} : '검색해주세요'"></span>
      <hr>
      <br>
      <th:block
          th:if="${trackResults != null and trackResultsAsList != null}">
        <div class="search-results">
          <ul class="tracks-list"
              th:each="counter: ${#numbers.sequence(0, trackResults.pages.getNumberOfElements()-1, 2)}"
              th:unless="${counter >= trackResults.pages.getNumberOfElements()}">
            <li class="tracks-list-elements-left"
                th:unless="${counter >= trackResults.pages.getNumberOfElements()}">

              <img class="tracks-list-image"
                   th:src="${trackResultsAsList.get(counter).thumbnailUrl}"/>
              <span class="tracks-list-contents">
              <a class="track-title"
                 th:href="@{/music/track(pk=${trackResultsAsList.get(counter).trackNo})}"
                 th:utext=
                     "${#strings.length(trackResultsAsList.get(counter).trackTitle) >= 25} ?
                     ${#strings.substring(trackResultsAsList.get(counter).trackTitle, 0, 25)} + '<br>'
                      + ${#strings.substring(trackResultsAsList.get(counter).trackTitle, 25, trackResultsAsList.get(counter).trackTitle.length())}:
                     ${trackResultsAsList.get(counter).trackTitle}">

              </a>
              <span class="track-album"
                    th:utext=
                        "${#strings.length(trackResultsAsList.get(counter).trackAlbum) >= 26} ?
                     ${#strings.substring(trackResultsAsList.get(counter).trackAlbum, 0, 26)} + '<br>'
                      + ${#strings.substring(trackResultsAsList.get(counter).trackAlbum, 26, trackResultsAsList.get(counter).trackAlbum.length())}:
                     ${trackResultsAsList.get(counter).trackAlbum}"></span>
              <span class="track-info"
                    th:utext="${trackResultsAsList.get(counter).trackArtist}"></span>
          </span>
            </li>
            <li class="tracks-list-elements-right"
                th:unless="${counter+1 >= trackResults.pages.getNumberOfElements()}">

              <img class="tracks-list-image"
                   th:src="${trackResultsAsList.get(counter+1).thumbnailUrl}"/>
              <span class="tracks-list-contents">
              <a href="" class="track-title"
                 th:href="@{/music/track(pk=${trackResultsAsList.get(counter+1).trackNo})}"
                 th:utext=
                     "${#strings.length(trackResultsAsList.get(counter+1).trackTitle) >= 25} ?
                     ${#strings.substring(trackResultsAsList.get(counter+1).trackTitle, 0, 25)} + '<br>'
                      + ${#strings.substring(trackResultsAsList.get(counter+1).trackTitle, 25, trackResultsAsList.get(counter+1).trackTitle.length())}:
                     ${trackResultsAsList.get(counter+1).trackTitle}"></a>
              <span class="track-album"
                    th:utext=
                        "${#strings.length(trackResultsAsList.get(counter+1).trackAlbum) >= 26} ?
                     ${#strings.substring(trackResultsAsList.get(counter+1).trackAlbum, 0, 26)} + '<br>'
                      + ${#strings.substring(trackResultsAsList.get(counter+1).trackAlbum, 26, trackResultsAsList.get(counter+1).trackAlbum.length())}:
                     ${trackResultsAsList.get(counter+1).trackAlbum}"></span>
              <span class="track-info"
                    th:utext="${trackResultsAsList.get(counter+1).trackArtist}"></span>
          </span>
            </li>
          </ul>
        </div>
      </th:block>
<!--      <div th:each="counter : ${#numbers.sequence(1, trackResults.pages.totalPages, 1)}">-->
<!--      <button th:text="${counter}" class="page-button"-->
<!--         th:name="page"-->
<!--         th:value="${counter}"></button>-->
<!--      </div>-->

      <button class="page-button-prev" th:unless="${trackResults.pages.isFirst()}" th:name="page"
              th:value="${pageable.previousOrFirst().pageNumber}" th:text>
      </button>
      <button class="page-button-next" th:unless="${trackResults.pages.isLast()}" th:name="page"
              th:value="${pageable.next().pageNumber}">다음
      </button>
    </form>
  </div>
</div>

</body>
</html>