.container {
  height: 100%;
}

.contents {
  display: flex;
}

.board a {
  cursor: pointer;
  display: flex;
  margin-top: 70px;
  justify-content: center;
}

.return-button {
  width: 270px;
  height: 40px;
  border: 1px solid black;
  border-radius: 30px;
  color: black;
  font-size: 22px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 800px;
  height: 400px;
  margin: 40px;
  padding: 100px;
  border-radius: 50px;
  border: white solid 1px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  font-size: 40px;
  text-align: center;
}

#before-page-btn{
  border:none;
  background-color: transparent;
  font-size: 20px;
}