.members-list {
    display:flex;
    flex-direction: row;
    margin-bottom: 60px;
    position: relative;
    left:-43px;
}

.members-list-element {
    display: flex;
    flex-direction: column;
    /*margin: auto 100px auto 0;*/
}

.members-profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.members-image {
    margin: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) no-repeat center;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    display: block;
}

.members-name {
    padding-top:0.5em;
    font-size: 27px;
    margin: auto;
}

.members-date {
    padding-top:0.4em;
    font-size: 15px;
    /*opacity:0.7%;*/
    color: rgba(255, 255, 255, 0.7);
    margin: auto;
    text-align: center;
}