.menu-userinfo {
    width: 48px;
    height: 40px;
    margin: 4px 20px 30px 20px;
    font-family: NotoSansKR;
    font-size: 18px;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
}

.menu-img{
    width: 30px;
    height: 30px;
    margin-top: 50%;
    margin-right: 10%;
    font-family: NotoSansKR;
    font-size: 18px;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
}

#menu-post{
    width: 100px;
    font-size: 18px;
    margin: 14px 20px 14px 300px;
    padding: 5px 40px 5px 39px;
    text-align: center;
    border-radius: 24px;
    border: solid 1px white;
    display: flex;
    align-self: center;
}

#menu-post a {
    text-align: center;
}

#menu-alarm{
    margin: 18px 30px;
    padding: 8px;
    border: solid 1.5px white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

#menu-profile{
    margin: 10px 16px 9px 0;
    padding: 11px 11px 11px 0;
    border-radius: 50%;
}

.pen-img{
    width: 5px;
    height: 15px;
}

.alarm-img{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 22px;
    height: 20px;
}

.profile-img-preview{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 0%;
    display:flex;
}

#post-box{
    width: 201px;
    height: 49px;
    margin: 0 0 16px 0px;
    padding: 15px 40px 10px 39px;
    border-radius: 24px;
    border: solid 1px white;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

.dropdown{
    position : relative;
    display : inline-block;
  }

.dropdown-content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color:  #1c1406;
    color: white;
    min-width : 100px;
    right:0;
  }

.dropdown-content-notification {
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color:  #1c1406;
    color: white;
    min-width : 190px;
    right:0;
    padding: 32px 25px 32px 25px;
}

.dropdown-content-notification a{
    font-family: NotoSansKR;
    display : block;
    text-decoration : none;
    color : white;
    font-size: 12px;
    padding : 12px 5px;
    text-align: center;
}

.dropdown-content-notification a:hover{
    background-color : black;
    right:0;
    text-align: center;
}



.dropdown-content a{
    font-family: NotoSansKR;
    display : block;
    text-decoration : none;
    color : white;
    font-size: 12px;
    padding : 12px 5px;
    text-align: center;
  }

.dropdown-content a:hover{
    background-color : black;
    right:0;
    text-align: center;
}

.dropdown:hover .dropdown-content-notification {
    display: block;
    right:0;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
    right:0;
    text-align: center;
}
.dropbtn{
    border : 1px solid rgb(37, 37, 37);
    border-radius : 4px;
    background-color: black;
    font-weight: 400;
    color : white;
    padding : 12px;
    width :200px;
    text-align: left;
    cursor : pointer;
    font-size : 12px;
  }

.profile-preview{
    width: 230px;
    height: 150px;
    margin: auto;
}

.notification-title-div {
    width: 447px;
    height: 36px;
    font-size: 18px;
    color: white;
    border-bottom: solid 2px #544E42;
    display: flex;
    justify-content: left;
}

.notification-title {
    font-size: 18px;
    color: white;

}

.notification-cards {
    border-bottom: solid 1px #544E42;
    width: 451px;
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    padding-bottom: 19px;
}

.notification-info {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-left: 14px;
}

.notification-info-top {
    font-family: NotoSansKR;
    font-size: 14px;
}

.notification-type {
    float: left;
    color: rgba(255, 255, 255, 0.65);
    text-overflow: ellipsis;
    overflow: hidden;
}

.notification-time {
    float: right;
    color: rgba(255, 255, 255, 0.45);
}

.notification-content {
    margin-top: 14px;
    font-size: 16px;
    color: white;
    margin-right: auto;
}

.notification-recommendTitle {
    font-family: NotoSansKR;
    font-size: 14px;
    margin-right: auto;
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.45);
}

.notification-preview {
    width: 447px;
    height: 150px;
    margin: auto;
}

.img-preview{
    width: 81px;
    height: 81px;
    border-radius: 50%;
}

.name-preview{
    width: 60px;
    height: 25px;
    margin: auto;
    font-family: NotoSansKR;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: var(--white);
    display : flex;
    justify-content : center;
}