.recommend-list {
    display:flex;
    flex-direction: column;
    position:relative;
    left:-43px;
}

.recommend-list-elements {
    display: flex;
    margin: 0 0 30px 0;
    flex-direction: row;
    width: 100%;
}

.title-and-contents {
    display: flex;
    flex-direction: column;
    margin: 0 -43px auto 88px;
    width:100%;
}

.recommend-image {
    height:180px;
    width:180px;
}

.recommend-text {
    /*margin-left:20px;*/
}

span.recommend-title {
    float:left;
}

span.recommend-date {
    float: right;
    color: rgba(255, 255, 255, 0.5);
}

.recommend-title {
    font-size: 22px;
    /*margin-left: 22px;*/
    /*background-color: lightblue;*/
    width: 30%;
}

.separator {
    width: 100%;
    margin: 10px 0;
    border-bottom: white solid 1px;
}

.more-contents {
    display: flex;
    margin: auto 0 auto auto;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width:60px;
    text-align: center;
}