.button {
  cursor: pointer;
}

.board {
  width: 1521px;
  height: 1000px;
  margin: 40px;
  padding: 100px;
  border-radius: 50px;
  border: white solid 1px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
}

.board-top {
  display: flex;
  justify-content: space-between;
}

.board-title {
  margin: 20px;
  width: 10%;
  height: 21px;
  font-family: NotoSansKR;
  font-size: 22px;
  color: #191919;
  display: flex;
  justify-content: left;
  align-items: center;

}

.button-exit {
  width: 10%;
  border-radius: 50px;
  border: solid 1px #191919;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-exit input {
  cursor: pointer;
}


.board-body {
  margin: 30px 0px;
  display: flex;
  justify-content: start;

  align-items: center;
}

.board-body-title {
  margin: 20px;
  width: 12%;
  height: 21px;
  font-family: NotoSansKR;
  font-size: 22px;
  color: #191919;
  display: flex;
  justify-content: left;
}

.preview {
  margin-left: 70px;
  width: 100px;
}

#preview-img {
  margin-left: 80px;
  width: 70px;
}

#board-input-title {
  width: 900px;
  display: flex;
  justify-content: left;
}

.board input {
  border-radius: 20px;
  border: 2px #c5c5c5 solid;
  padding: 10px;
  width: 100%;
  font-family: NotoSansKR;
  font-size: 18px;
  text-align: left;
  display: flex;
}

#board-input-search {
  width: 455px;
  display: flex;
  justify-content: left;
  align-items: center;
}

#button-search {
  width: 5%;
  height: 50px;
  margin-left: 20px;
  border-radius: 20px;
  border: solid 1px #c5c5c5;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board-input-content {
  width: 80%;
}

#board-input-content textarea {
  width: 100%;
  height: 200px;
  display: flex;
  border-radius: 20px;
  border: 2px #c5c5c5 solid;
  padding: 10px;
  font-family: NotoSansKR;
  font-size: 18px;
  text-align: left;
}

#board-input-hashtag {
  width: 30%
}

#youtube-link {
  display: flex;
  text-align: left;
}

#board-input-youtube {
  width: 20%;
  margin-left: 5px;
}

#board-input-youtube input {
  width: 80%;
}

#button-post {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

#button-post input {
  width: 20%;
  justify-content: center;
  background-color: black;
  font-family: NotoSansKR;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

#board-input-point {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}

#use-point{
  width: 300px;
  display: flex;
}
#user-point{
  width: 200px;
  font-family: NotoSansKR;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-self:center;
  margin-left: 10px;
}

#contour{
  font-size: 22px;
  color: rgba(0, 0, 0, 0.65);
  display: flex;
  align-self:center;
  margin-left: 10px;
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 20px;
}

#myModal {
  display: none;
}


.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 461px;
  height: 765px;
  display: flex;
  flex-direction: column;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-search {
  display: flex;
  justify-content: center;
}

.modal-search input {
  width: 310px;
  height: 55px;
  font-size: 16px;
  border: solid 1px #c5c5c5;
  border-radius: 20px;
  text-align: center;
}

#modal-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 55px;
}

.modal-search-result{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.pagination{
  margin: 10px;
  display: flex;
  justify-content: center;
}

.pagination button {
  margin: 0px 5px;
  font-size: 24px;
}


.modal-search-track{
  margin: 20px 50px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.modal-search-img img{
  margin-right: 10px;
  width: 80px;
  height: 80px;
  border: solid 1px #c5c5c5;
  border-radius: 25px;
}
.modal-search-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.modal-track-title{
  display: flex;
  font-family: NotoSansKR;
  font-size: 18px;
  text-align: center;
  color: #191919;
}

.modal-track-artist{
  display: flex;
  font-family: NotoSansKR;
  font-size: 16px;
  text-align: center;
  color: rgba(25, 25, 25, 0.65);
}

.modal-line{
  display: flex;
  align-self: center;
  width: 391px;
  border-bottom: 1px lightgray solid;
}