.recommend-list {
  display: flex;
  flex-direction: column;
  position: relative;
  /*left:-43px;*/
}

.recommend-list-elements {
  display: flex;
  margin: 0 0 30px 0;
  flex-direction: row;
  width: 100%;
}

.title-and-contents {
  display: flex;
  flex-direction: column;
  margin: 0 0 auto 88px;
  width: 100%;
}

.recommend-image {
  height: 180px;
  width: 180px;
}

.recommend-text {
  /*margin-left:20px;*/
}

span.recommend-title {
  float: left;
}

span.recommend-date {
  float: right;
  color: rgba(255, 255, 255, 0.5);
}

.recommend-title {
  font-size: 22px;
  /*margin-left: 22px;*/
  /*background-color: lightblue;*/
  width: 30%;
}

.separator {
  width: 100%;
  margin: 10px 0;
  border-bottom: white solid 1px;
}

.direction-options {
  border: solid white;
  font-size: 40px;
  height: 70%;
  text-align: center;
  margin: auto;
}

.sort-options {
  border: solid white;
  font-size: 40px;
  height: 70%;
  text-align: center;
  margin: auto;


}

#recommend-views:checked:checked ~ .recommend-views,
#recommend-points:checked:checked ~ .recommend-points,
#recommend-title:checked:checked ~ .recommend-title,
#recommend-date:checked:checked ~ .recommend-date {
  border-color: white;
  border-style: double;
  background: #1c1406;
}

#recommend-views:checked:checked ~ .recommend-views .circle,
#recommend-points:checked:checked ~ .recommend-points .circle
#recommend-title:checked:checked ~ .recommend-title .circle,
#recommend-date:checked:checked ~ .recommend-date .circle {
  background: #fff;
}

#recommend-views:checked:checked ~ .recommend-views .circle::before,
#recommend-points:checked:checked ~ .recommend-points .circle::before,
#recommend-title:checked:checked ~ .recommend-title .circle::before,
#recommend-date:checked:checked ~ .recommend-date .circle::before {
  opacity: 1;
  transform: scale(1);
}

#recommend-views:checked:checked ~ .recommend-views span,
#recommend-points:checked:checked ~ .recommend-points span,
#recommend-points:checked:checked ~ .recommend-points .circle::before,
#recommend-title:checked:checked ~ .recommend-title span,
#recommend-date:checked:checked ~ .recommend-date span {
  color: #fff;
}

.filtering-sort-properties {
  width: 650px;
  height: 50px;
  display: inline-flex;
  background: #1c1406;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  margin: auto;
  align-self: center;

}