.tracks-list {
  display: inline-flex;
  flex-direction: row;
  margin-bottom: 250px;
  position: relative;
  /*left:-43px;*/
  /*justify-content: space-between;*/
}

.tracks-list-elements-left {
  display: flex;
  flex-direction: row;
  /*align-self: flex-start;*/
  position: absolute;
  /*margin: auto auto auto auto;*/
  margin: auto 255px auto 0;
}


.tracks-list-elements-right {
  display: flex;
  flex-direction: row;
  /*align-self: flex-end;*/
  position: absolute;
  /*margin: auto;*/
  margin: auto auto auto 50%;
}

.tracks-list-image {
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) no-repeat center;
  width: 180px;
  height: 180px;
  border-radius: 44px;
  display: flex;
}

.tracks-list-contents {
  /*padding-top:0.5em;*/
  padding: 0.4em 0 0 0.7em;
  /*color: rgba(255, 255, 255, 0.7);*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.track-title {
  font-size: 24px;
}

.track-album {
  font-size: 21px;
  color: rgba(255, 255, 255, 0.9);

}

.track-info {
  padding-bottom: 2em;
  color: rgba(255, 255, 255, 0.8);
}

/*div.block-middle>ul>li>span {*/
/*    padding-top:0.4em;*/
/*    font-size: 15px;*/
/*    color: rgba(255, 255, 255, 0.7);*/
/*    margin: auto;*/
/*    text-align: left;*/
/*    align-self: flex-end;*/
/*}*/

#track-number:checked:checked ~ .track-number,
#track-title:checked:checked ~ .track-title {
  border-color: white;
  border-style: double;
  background: #1c1406;
}

#track-number:checked:checked ~ .track-number .circle,
#track-title:checked:checked ~ .track-title .circle {
  background: #fff;
}

#track-number:checked:checked ~ .track-number .circle::before,
#track-title:checked:checked ~ .track-title .circle::before {
  opacity: 1;
  transform: scale(1);
}

#track-number:checked:checked ~ .track-number span,
#track-title:checked:checked ~ .track-title span {
  color: #fff;
}

.filtering-sort-properties {
  width: 400px;
  height: 50px;
  display: inline-flex;
  background: #1c1406;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  margin: auto;
  align-self: center;

}