<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js"
          integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
          crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/recommend-post.css}">
  <link rel="stylesheet" th:href="@{/css/profile-style.css}">
</head>
<body>
<div class="container">
  <div th:replace="~{common/fragments/header::header}"></div>

  <div class="contents">
    <div class="board">
      <form th:action="@{/recommends}" method="post" th:object="${request}"
            enctype="multipart/form-data">
        <div class="board-top">
          <span class="board-title">게시글 작성</span>
          <span class="button-exit button">나가기 X</span>
        </div>

        <div class="board-body">
          <span class="board-body-title">제목</span>
          <span id="board-input-title"> <input name="recommendTitle" th:field="*{recommendTitle}"
                                               placeholder="제목을 입력해주세요(100자 이내)"/></span>
        </div>

        <div class="board-body" id="music-select">
          <span class="board-body-title">추천 음악</span>
          <span id="board-input-search">
            <input id="music-select-title" name="trackTitle" readonly
                   placeholder="검색 버튼을 눌러 음악을 검색해주세요"/>
            <input id="music-select-no" type="hidden" name="trackNo" th:field="*{trackNo}"
                   readonly/>
          </span>
          <span id="button-search" class="button"> 검색 </span>
        </div>

        <div class="board-body">
          <span class="board-body-title">추천 내용</span>
          <span id="board-input-content"> <textarea name="recommendContent"
                                                    th:field="*{recommendContent}"
                                                    placeholder="추천 글을 작성해주세요"></textarea></span>
        </div>

        <div class="board-body">
          <span class="board-body-title">해시태그</span>
          <span id="board-input-hashtag"><input th:field="*{hashtag}"
                                                placeholder="#으로 구분하여 해시태그를 입력해주세요(최대 3개)"/></span>
        </div>

        <div class="board-body">
          <span class="board-body-title">썸네일</span>
          <span><input id="img-file" th:field="*{image}" type="file"
                       placeholder="이미지를 업로드하세요"/></span>
          <span>
            <span class="board-body-title preview">미리보기</span>
            <img class="preview" id="preview-img" src="">
          </span>
        </div>

        <div class="board-body">
          <span class="board-body-title">유튜브 링크</span>
          <span id="youtube-link">https://youtu.be/</span>
          <span id="board-input-youtube"><input name="youtube-url"
                                                th:field="*{recommendYoutubeUrl}"
                                                type="text"/></span>
        </div>

        <div class="board-body">
          <span class="board-body-title">포인트</span>
          <span id="board-input-point">
              <input name="recommendPoint" placeholder="등록된 포인트는 수정할 수 없습니다."
                     th:field="*{recommendPoint}" type="number" min="0"/>
          </span>
        </div>

        <div class="board-body">
          <span id="button-post"><input id="btn-submit" type="submit" value="작성하기" readonly></span>
        </div>
      </form>
    </div>
  </div>

  <div class="footer">

  </div>
</div>

<!-- 위치 재설정 모달 -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="close" onclick="closeModal()">&times;</div>
    </div>
    <div class="modal-search">
      <div>
        <input id="track-search-input" type="text" placeholder="찾으시는 음악을 입력해주세요">
      </div>
      <div id="modal-search-button">검색</div>
    </div>
    <div class="modal-search-result">
    </div>
    <div class="pagination">
      <button id="prev-page-btn" disabled>&lt;</button>
      <button id="next-page-btn" disabled>&gt;</button>
    </div>
  </div>
</div>


</body>
<script>

  $(".button-exit").on("click", function () {
    location.href = "../";
  });

  $("#btn-submit").on("click", function () {
    console.log("click");
    let recommendTitle = $('#board-input-title [name = recommendTitle]').val();
    let recommendContent = $('#board-input-content [name = recommendContent]').val();
    let trackNo = $('#board-input-search [name=trackNo]').val();

    if (recommendTitle === "" || recommendTitle == null) {
      alert("제목을 입력해주세요.");
      return false;
    }

    if (recommendContent === "" || recommendContent == null) {
      alert("내용을 입력해주세요.");
      return false;
    }

    if (trackNo === "" || trackNo == null) {
      alert("음악을 선택해주세요.");
      //return false;
    }

    return true;
  });

  const fileDOM = document.querySelector('#img-file');
  const preview = document.querySelector('#preview-img');

  fileDOM.addEventListener('change', () => {
    const file = fileDOM.files[0];

    if (!file) {
      return;
    }

    let maxSize = 3 * 1024 * 1024;
    let fileSize = file.size;

    if (!file.type.match("image.*")) {
      alert("이미지 파일만 선택 가능합니다.");
      return false;
    }

    if (fileSize > maxSize) {
      alert("첨부파일 사이즈는 3MB 이내로 등록 가능합니다.");
      $(fileDOM).val('');
      return false;
    }

    const reader = new FileReader();
    reader.onload = ({target}) => {
      preview.src = target.result;
    };
    preview.src = URL.createObjectURL(file);
  });

  function openModal() {
    document.getElementById("myModal").style.display = "block";
  }

  document.getElementById("button-search").addEventListener("click", openModal);

  function closeModal() {
    document.getElementById("myModal").style.display = "none";
  }

  document.getElementById("modal-search-button").addEventListener("click", function () {
    var trackSearchInput = document.getElementById("track-search-input").value;
    var currentPage = 0;
    var url = "/search/tracks/modal?keyword=" + trackSearchInput + "&page=" + currentPage;
    var xhr = new XMLHttpRequest();

    var modalSearchResult = document.querySelector(".modal-search-result");
    var prevPageBtn = document.getElementById("prev-page-btn");
    var nextPageBtn = document.getElementById("next-page-btn");

    xhr.onreadystatechange = function () {
      if (xhr.readyState === XMLHttpRequest.DONE) {
        if (xhr.status === 200) {
          var trackResults = JSON.parse(xhr.responseText);
          console.log('trackResults:', trackResults.pages);

          // clear the existing search results
          modalSearchResult.innerHTML = "";

          // loop through the search results and append them to the modal
          trackResults.pages.content.forEach(function (track) {
            var modalSearchTrack = document.createElement("div");
            modalSearchTrack.classList.add("modal-search-track");

            var modalSearchImg = document.createElement("div");
            modalSearchImg.classList.add("modal-search-img");
            modalSearchImg.innerHTML = '<img src="' + track.thumbnailUrl + '">';

            var modalSearchInfo = document.createElement("div");
            modalSearchInfo.classList.add("modal-search-info");

            var modalTrackTitle = document.createElement("div");
            modalTrackTitle.classList.add("modal-track-title");
            modalTrackTitle.innerHTML = track.trackTitle;

            var modalTrackArtist = document.createElement("div");
            modalTrackArtist.classList.add("modal-track-artist");
            modalTrackArtist.innerHTML = track.trackArtist;

            var trackNo = document.createElement("input");
            trackNo.setAttribute("type", "hidden");
            trackNo.setAttribute("name", "trackNo");
            trackNo.setAttribute("value", track.trackNo);
            trackNo.setAttribute("id", "modal-track-no"); // add id attribute

            modalSearchInfo.appendChild(modalTrackTitle);
            modalSearchInfo.appendChild(modalTrackArtist);
            modalSearchInfo.appendChild(trackNo);

            modalSearchTrack.appendChild(modalSearchImg);
            modalSearchTrack.appendChild(modalSearchInfo);

            modalSearchResult.appendChild(modalSearchTrack);
          });

          // enable/disable paging buttons
          if (trackResults.pages.first) {
            prevPageBtn.disabled = true;
          } else {
            prevPageBtn.disabled = false;
          }

          if (trackResults.pages.last) {
            nextPageBtn.disabled = true;
          } else {
            nextPageBtn.disabled = false;
          }
        } else {
          console.log("Error: " + xhr.status);
        }
      }
    };

    xhr.open("GET", url, true);
    xhr.send();

    // set up event listeners for paging buttons
    prevPageBtn.addEventListener("click", function() {
      currentPage--;
      url = "/search/tracks/modal?keyword=" + trackSearchInput + "&page=" + currentPage;
      xhr.open("GET", url, true);
      xhr.send();
    });

    nextPageBtn.addEventListener("click", function() {
      currentPage++;
      url = "/search/tracks/modal?keyword=" + trackSearchInput + "&page=" + currentPage;
      xhr.open("GET", url, true);
      xhr.send();
    });
  });



  document.querySelector(".modal-search-result").addEventListener("click", function (event) {
    if (event.target.classList.contains("modal-search-track") ||
        event.target.classList.contains("modal-search-img") ||
        event.target.classList.contains("modal-track-title") ||
        event.target.classList.contains("modal-track-artist")) {

      document.querySelector("#music-select-title").value = event.target.closest(
          ".modal-search-track").querySelector(".modal-track-title").textContent;
      document.querySelector("#music-select-no").value = event.target.closest(
          ".modal-search-track").querySelector("#modal-track-no").value;
      
      closeModal();
    }
  });
</script>


</html>