<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js"
          integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
          crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/recommend-read.css}">
  <link rel="stylesheet" th:href="@{/css/profile-style.css}">


</head>
<body>
<div class="container">

  <div th:replace="~{common/fragments/header::header}"></div>

  <div class="contents">
    <div class="left-div">
      <div class="post-read-top">
        <span class="post-read-title" th:text="${post.getRecommendTitle()}"></span>

        <span class="post-read-menu">
          <a th:if="${session.loginUser != null and session.loginUser.getNickName() == post.getMemberNickname()}"
             th:href="@{/recommends/{recommendNo}/modifyForm (recommendNo=${post.getRecommendNo()})}">수정</a>
        </span>

        <span class="post-read-menu">
          <a th:if="${session.loginUser != null and session.loginUser.getNickName() == post.getMemberNickname()}"
             th:href="'javascript:deletePost(\''+${post.getRecommendNo()}+'\')'">삭제</a>
        </span>
      </div>
      <div class="post-read-hashtag">
        <span th:each="hashtag : ${post.getHashtags()}" th:text="|#${hashtag} |"></span>
      </div>
      <div class="post-read-user-info">
        <span class="author-img"><img th:src="${post.getMemberProfileImgUrl()}"></span>
        <span class="user-info-name-date">
                    <div class="user-info-name" th:text="${post.getMemberNickname()}"></div>
                    <div class="post-date"
                         th:text="${#temporals.format(post.getRecommendCreatedAt(), 'yyyy/MM/dd HH:mm:ss')}"></div>
                </span>
        <span class="like-and-point" id="likes">
          <a th:if="${session.loginUser!=null}" id="like-click"
             th:text="|♥ ${post.getCountLikes()}|"></a>
          <a th:if="${session.loginUser==null}" th:text="|♥ ${post.getCountLikes()}|"></a>
        </span>
        <span class="like-and-point" th:text="|글 pt ${post.getRecommendPoint()}|"></span>
        <span class="like-and-point" th:text="|누적 pt ${post.getAccumulatedPoints()}|"></span>
      </div>

      <div class="line"></div>

      <div class="album-info">
        <span class="album-img"><img th:src="${post.getAlbumImageUrl()}"></span>
        <span class="song-info">
                    <span class="song-name" th:text="${post.getTrackTitle()}"></span>
                    <span class="artist-name" th:text="${post.getArtistName()}"></span>
                </span>

        <a th:href="${post.getRecommendYoutubeUrl()}">
          <span class="youtube-url">유튜브 링크</span>
        </a>
      </div>

      <div class="line"></div>

      <div class="post-content" th:text="${post.getRecommendContent()}">

      </div>

      <div class="line"></div>

      <form method="" action="" th:if="${session.loginUser != null and checkComment == false}">
        <div class="comment-input">
          <span class="comment-user-info">
              <div class="comment-user-img"><img th:src="${login.getProfileImgUrl()}"></div>
              <div class="comment-user-name" th:text="${login.getMemberNickname()}"></div>
          </span>
          <span class="comment-input-area">
            <textarea id="comment-value" placeholder="댓글을 입력해 주세요."></textarea>
          </span>
          <span class="point-area">
            <div id="accumulate-point">
              <input type="text" id="pay-point">
              <span class="point-text">/</span>
              <span id="user-point" th:text="${loginUserPoint}"></span>
              <span class="point-text">pt</span>
            </div>
          </span>

          <span class="button-comment-input">
            <input id="comment-button" type="button" value="등록">
          </span>
        </div>
      </form>

      <div class="comment-title">
        댓글
      </div>

      <div class="super-chat-list">
        <div class="super-chat-user" th:each="superchat:${superchats}">
          <span class="super-chat-user-img"><img th:src="${superchat.getProfileImgUrl()}"></span>
          <div>
            <div class="super-chat-point" th:text="|${superchat.getCommentPoint()} pt|">pt</div>
            <div class="super-chat-user-name" th:text="${superchat.getMemberNickname()}"></div>
          </div>
        </div>
      </div>

      <div class="comment-list">
        <div class="comment" th:each="comment : ${comments}"
             th:id="'comment-'+${comment.commentNo}">
          <span class="comment-list-user-info">
              <div class="comment-list-user-img">
                <img id="comment-list-user-img-img" th:src="${comment.getProfileImgUrl()}">
              </div>
              <div class="comment-list-user-name" th:text="${comment.getMemberNickname()}"></div>
              <div class="comment-list-user-point" th:if="${comment.getCommentPoint() != null}"
                   th:text="${comment.getCommentPoint()}"></div>
          </span>
          <span class="comment-list-body-menu">
              <div class="comment-list-body" th:text="${comment.getCommentContent()}"></div>
              <div class="comment-list-menu">
                <span><a class="comment-list-delete"
                         th:if="${session.loginUser != null and session.loginUser.getNickName() == comment.getMemberNickname()}"
                         th:href="'javascript:deleteComment(\''+${comment.getCommentNo()}+'\')'"
                         th:data-comment-no="${comment.commentNo}">삭제</a></span>
                <!--                <span><a href="">신고</a></span>-->
              </div>
            </span>
          <div class="comment-list-date"
               th:text="${#temporals.format(comment.getCreatedAt(), 'yyyy/MM/dd HH:mm:ss')}">
          </div>
        </div>
      </div>
    </div>


    <div class="right-div">
      <div id="thumbnails">
        <img th:src="${post.getRecommendImageUrl()}">
      </div>

    </div>

    <div class="footer">
      <input type="hidden" id="login-user" th:if="${session.loginUser != null}" th:value="${session.loginUser.getNickName()}"/>
    </div>
  </div>
</div>
</body>
<script>
  const recommendNo = window.location.href.split("/").pop();
  const loginUser = $('#login-user').val();

  function deletePost(recommendNo) {
    let form = document.createElement('form');

    if (confirm("정말 삭제하시겠습니까?")) {
      form.setAttribute('method', 'post');
      form.setAttribute('action', '/recommends/' + recommendNo + '/delete');
      document.body.appendChild(form);
      form.submit();
      alert("삭제되었습니다.");
    }
  }

  function deleteComment(commentNo) {
    alert(commentNo);

    let form = document.createElement('form');

    if (confirm("삭제해도 투자한 포인트는 반환되지 않습니다. 정말 삭제하시겠습니까?")) {
      form.setAttribute('method', 'post');
      form.setAttribute('action',
          '/recommends/' + recommendNo + '/comments/' + commentNo + '/delete');
      document.body.appendChild(form);
      form.submit();
      alert("삭제되었습니다.");
    }
  }

  $(document).ready(function () {
    $('#comment-button').click(function (event) {
      // Prevent form submission
      event.preventDefault();

      const commentContent = $('#comment-value').val();
      let payPoint = $('#pay-point').val();
      const userPoint = $('#user-point').text();

      if (payPoint > Number(userPoint)) {
        alert("보유한 포인트 보다 높은 값을 입력하였습니다.")
        alert(payPoint);
        alert(userPoint);
        return false;
      }


      const commentRequest = {
        commentContent: commentContent,
        commentPoint: payPoint,
      };

      $.ajax({
        type: 'POST',
        url: '/recommends/' + recommendNo + '/comments',
        data: JSON.stringify(commentRequest),
        contentType: 'application/json',
        success: function (data) {
          // Clear the comment input field
          $('#comment-value').val('');

          // Render the new comments and append them to the comment list
          const comments = data.comments;
          console.log(comments);
          let commentHtml = '';
          for (let i = comments.length - 1; i >= 0; i--) {
            const comment = comments[i];
            commentHtml += `
          <div class="comment">
            <span class="comment-list-user-info">
              <div class="comment-list-user-img">
                <img id="comment-list-user-img-img" src="${comment.profileImgUrl}">
              </div>
              <div class="comment-list-user-name">${comment.memberNickname}</div>
              <div class="comment-list-user-point">${comment.commentPoint > 0 ? comment.commentPoint
                : ""}</div>
            </span>
            <span class="comment-list-body-menu">
              <div class="comment-list-body">${comment.commentContent}</div>
              <div class="comment-list-menu">`


            if (loginUser === comment.memberNickname) {
              commentHtml += `<span><a href="javascript:deleteComment('${comment.commentNo}')">삭제</a></span>`;
            }
            commentHtml += `</div>
                </span>
                <div class="comment-list-date">${comment.createdAt}</div>
                </div>`;
          }
          $('.comment-list').html(commentHtml);
          $('.comment-input').remove();

          const superchats = data.superchats;
          console.log(superchats)
          let superchatHtml = '';
          if (superchats && superchats.length > 0) {
            for (let i = superchats.length - 1; i >= 0; i--) {
              const superchat = superchats[i];
              superchatHtml += `
                <div class="super-chat-user">
                  <span class="super-chat-user-img"><img src="${superchat.profileImgUrl}"></span>
                  <div>
                    <div class="super-chat-point">${superchat.commentPoint}pt</div>
                    <div class="super-chat-user-name">${superchat.memberNickname}</div>
                  </div>
                </div>
              `;
            }
            $('.super-chat-list').html(superchatHtml);
          } else {
            console.log('No superchats available');
          }
        },
        error: function (err) {
          console.error(err);
        }
      });
    });

    $(document).on('click', '#like-click', function (event) {
      event.preventDefault();

      alert(recommendNo);
      $.ajax({
        type: 'POST',
        url: '/recommends/' + recommendNo + '/likes',
        success: function (data) {
          $('#likes').html(`<a id="like-click">♥ ${data}</a>`);
          alert(data);
        },
        error: function (err) {
          console.error(err);
        }
      });
    });
  });

  function writeComment(recommendNo) {
    let form = document.createElement('form');

    if (confirm("정말 삭제하시겠습니까?")) {
      form.setAttribute('method', 'post');
      form.setAttribute('action', '/recommends/' + recommendNo + '/delete');
      document.body.appendChild(form);
      form.submit();
      alert("삭제되었습니다.");
    }
  }


</script>
</html>