<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery-3.6.3.js"
          integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
          crossorigin="anonymous"></script>

  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/profile-style.css}">
  <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div class="container">
  <div class="header">
    <div class="header-nav">
            <span id="logo">
                <a th:href="@{/}">내미콘</a>
            </span>
      <span id="menu-recommend" class="menu">
                <a th:href="@{/}">추천글</a>
            </span>

      <span id="menu-chart" class="menu">
                <a href="">차트</a>
            </span>

      <span id="menu-inquiry" class="menu">
                <a href="/faq">문의</a>
            </span>

      <span id="menu-search" class="menu">
          <a th:href="@{/search}">검색</a>
      </span>

      <th:block th:if="${session.loginUser==null}">
        <span id="menu-login" class="menu-user">
                  <a href="/member/login">로그인</a>
              </span>

        <span id="menu-join" class="menu-user">
                  <a th:href="@{/member/join}">회원가입</a>
              </span>
      </th:block>

      <th:block th:if="${session.loginUser!=null}">
        <span id="menu-post" class="menu-userinfo">
                <a th:href="@{/recommends/writeForm}"><img class="pen-img" th:src="@{/img/pen.png}" src="../../../static/img/pen.png"> 글 작성하기</a>
        </span>


        <span id="menu-alarm" class="menu-img">
                <div class="dropdown">
                <img class="alarm-img" th:src="@{/img/bell-img.png}"
                     src="../../../static/img/bell-img.png">
                  <div class="dropdown-content-notification">
                    <div class="notification-title-div">
                      <span class="notification-title">
                        알림
                      </span>
                    </div>

                    <div class="notification-cards">
                      <img  th:src="${session.loginUser.profileImgUrl}" class="img-preview">
                      <div class="notification-info">
                        <div class="notification-info-top">
                          <span class="notification-type">알렉스님이 댓글을 남겼습니다.</span>
                          <span class="notification-time">1시간전</span>
                        </div>
                        <span class="notification-content">어제 처음 들었는데 온종일 이 노래만 듣고 있어요</span>
                        <span class="notification-recommendTitle">이 노래 못 잊어요...</span>
                      </div>
                    </div>

                                        <div class="notification-cards">
                      <img  th:src="${session.loginUser.profileImgUrl}" class="img-preview">
                      <div class="notification-info">
                        <div class="notification-info-top">
                          <span class="notification-type">알렉스님이 댓글을 남겼습니다.</span>
                          <span class="notification-time">1시간전</span>
                        </div>
                        <span class="notification-content">어제 처음 들었는데 온종일 이 노래만 듣고 있어요</span>
                        <span class="notification-recommendTitle">이 노래 못 잊어요...</span>
                      </div>
                    </div>

                                        <div class="notification-cards">
                      <img  th:src="${session.loginUser.profileImgUrl}" class="img-preview">
                      <div class="notification-info">
                        <div class="notification-info-top">
                          <span class="notification-type">알렉스님이 댓글을 남겼습니다.</span>
                          <span class="notification-time">1시간전</span>
                        </div>
                        <span class="notification-content">어제 처음 들었는데 온종일 이 노래만 듣고 있어요</span>
                        <span class="notification-recommendTitle">이 노래 못 잊어요...</span>
                      </div>
                    </div>
                  </div>
            </div>
            </span>

        <span id="menu-profile" class="menu-img">
                <div class="dropdown">
                    <img th:src="${session.loginUser.profileImgUrl}" class="profile-img-preview">
                        <div class="dropdown-content">
                            <a href="#" class="profile-preview">
                                <img th:src="${session.loginUser.profileImgUrl}" class="img-preview">
                                <div class="name-preview" th:text="${session.loginUser.nickName}"></div>
                            </a>
                            <a href="/member/my">내 정보</a>
                            <a href="/member/recommends">마이피드 보기</a>
                            <a href="/member/logout">로그아웃</a>
                        </div>
                </div>
            </span>

      </th:block>

    </div>

    <div class="index">
      <span class="over-img" id="index-title">오늘의 내가 미는<br>콘텐츠는 무엇인가요?</span>
      <span class="over-img" id="index-body">나만 알고 있던 혹은 잊혀졌던 그때의 음악을 같은 취향을 가진<br> 또 다른 누군가에게 공유해주세요.</span>
      <span class="over-img" id="index-search"><a href="">음악 검색</a></span>
    </div>
  </div>

  <div class="contents">
    <nav id="sort-post">
      <span id="likes-span" class="not-selected-post-nav">
        <a th:href="@{/?sort=likes}">좋아요</a>
      </span>
      <span id="point-span"class="not-selected-post-nav">
        <a th:href="@{/?sort=point}">포인트</a>
      </span>
      <!--      <span class="not-selected-post-nav">-->
      <!--        <a href="">구독</a>-->
      <!--      </span>-->
    </nav>


    <div class="list-recommend">

      <div class="card" th:each="list : ${response}">
        <a th:href="@{/recommends/__${list.getRecommendNo()}__}">
          <img class="card-bg" th:src="${list.getRecommendImageUrl()}"/>
          <div class="music-info">
            <span class="music-img"><img th:src="${list.getAlbumImageUrl()}"/></span>
            <span class="music-info-text" th:text="|${list.getTrackTitle()} - |"></span>
            <span class="music-info-text" th:text="${list.getArtistName()}"></span>
          </div>

          <div class="body"></div>

          <div class="post-info">
            <div class="post-info-top">
              <span class="post-title" th:text="${list.getRecommendTitle()}"></span>
              <span class="like" th:text="|♥ ${list.getCountLikes()}|"></span>
              <span class="point" th:text="|${list.getAccumulatedPoints()} pt|"></span>
            </div>

            <div class="line"></div>

            <div class="post-content" th:text="${list.getRecommendContent()}"></div>
            <div class="post-author" th:text="${list.getMemberNickname()}"></div>
          </div>
        </a>
      </div>

    </div>


  </div>

  <div class="footer">

  </div>
</div>
</body>
<script>

  $(document).ready(function () {
    const sort = getUrlParameter('sort');
    console.log(sort);

    if (sort === 'likes' || sort == null) {
      $('#likes-span').removeClass('not-selected-post-nav').addClass('selected-post-nav');
    } else if (sort === 'point') {
      $('#point-span').removeClass('not-selected-post-nav').addClass('selected-post-nav');
    }

    $('#likes-link').click(function () {
      $('#likes-span').removeClass('not-selected-post-nav').addClass('selected-post-nav');
      $('#point-span').removeClass('selected-post-nav').addClass('not-selected-post-nav');
    });

    $('#point-link').click(function () {
      $('#point-span').removeClass('not-selected-post-nav').addClass('selected-post-nav');
      $('#likes-span').removeClass('selected-post-nav').addClass('not-selected-post-nav');
    });
  });

  const getUrlParameter = function getUrlParameter(sParam) {
    let sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
      sParameterName = sURLVariables[i].split('=');

      if (sParameterName[0] === sParam) {
        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
      }
    }
  };
</script>
</html>